section
    .container-fluid
        .row.align-items-center
            .col-8
                h1 
                    i.icon-four
                    i.icon-x
                    i.icon-four
            .col-4
                .description
                    h2.title Przepraszamy ta strona nie istnieje
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et 
                    a.icon-left Powrót do strony głównej sklepu
