section
    .container-fluid
        .row.align-items-center
            .col-8
                .top-head
                    h1.title Twój koszyk 
                        span (2)
                    a.icon-left(href="#") Powrót do sklepu
                .product-items
                    .product-item 
                        img(src="img/bluza.png", alt="")
                        .description
                            h3.title Bluza z kapturem
                            p.size Rozmiar – 
                                span L
                            p.color Kolor
                                span(style="color:#000000;")
                            .quantity
                                input.input-number(type='number' value='0' min='0' max='999')
                            p.price
                                span 200 zł
                                | 140 zł
                        i.icon-close.remove usuń 
                    .product-item 
                        img(src="img/czapka.png", alt="")
                        .description
                            h3.title Bluza z kapturem
                            p.size Rozmiar – 
                                span L
                            p.color Kolor
                                span(style="color:#000000;")
                            .quantity
                                input.input-number(type='number' value='0' min='0' max='999')
                            p.price
                                span 200 zł
                                | 140 zł
                        i.icon-close.remove usuń 
                .discounts
                    input(type="text" placeholder="Kod rabatowy")
                    input.button(type="submit" value="Aktualizuj koszyk")
            .col-4(style="background-color:#942443;")
                form.delivery
                    h2.title Dostawa
                    .radio
                        input#delivery(type="radio" name="delivery" checked) 
                        label(for="delivery") Opłata za dostawę
                            span 15 zł
                    .radio
                        input#delivery-free(type="radio" name="delivery") 
                        label(for="delivery-free") Darmowa dostawa
                    p Opcje wysyłki zostaną zaktualizowane podczas realizacji transakcji. 
                    p.price Suma
                        span 275 zł
                    input.button(type="submit" value="Przejdź do kasy")  