section
    .container-fluid
        .row
            .col-5
                .event
                    .img.icon-x
                        img(src="", alt="")
                    .description
                        h1.title Świąteczne okazje 2020
                        a.icon-chevron.link(href="#") Zobacz więcej
                .category-link
                    h3.widgettitle Kategorie zakupów
                    ul.menu
                        li.current-menu-item
                            a(href="#") Kalendarze i artykuły szkolne
                        li
                            a(href="#") Kalendarz ścienny
                        li
                            a(href="#") Kartki okolicznościowe
                        li
                            a(href="#") Gadżety
                        li
                            a(href="#") Kubki
                        li
                            a(href="#") Torby
                        li
                            a(href="#") Gry planszowe
                        li
                            a(href="#") Odzież
                        li
                            a(href="#") Bluzy
                        li
                            a(href="#") Sety dresów
                        li
                            a(href="#") Koszulki
                        li
                            a(href="#") Czapki
                        li
                            a(href="#") Szaliki lub kominy
                        li
                            a(href="#") Promocje
                        li
                            a(href="#") Kosmetyki
            .col-7
                .home-slider
                    .item
                        img(src="img/photo.png", alt="#")
                        .description
                            h2.title Lorem ipsum sit amed
                            a.button(href="#") Zobacz kolekcję
                    .item
                        img(src="img/photo-2.png", alt="#")
                        .description
                            h2.title Lorem ipsum sit amed
                            a.button(href="#") Zobacz kolekcję
                    .item
                        img(src="img/photo.png", alt="#")
                        .description
                            h2.title Lorem ipsum sit amed
                            a.button(href="#") Zobacz kolekcję
                    .item
                        img(src="img/photo-2.png", alt="#")
                        .description
                            h2.title Lorem ipsum sit amed
                            a.button(href="#") Zobacz kolekcję
