section
    .container-fluid
        .row.align-items-end
            .col
                .img-contacts
                    img(src="img/photo-6.png", alt="")
            .col.col-auto
                .description-contacts
                    h1.title Ten Fajny Sklep lorem ipsum sit amed dolor sit
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                    h4.title Warszawa
                    p TFM Ten Fajny Sklep Sp. z o.o.
                        br
                        | ul. Krucza 50 (WeWork I piętro)
                        br
                        | 00-025 Warszawa
                        br
                        | NIP: 679 320 72 93
                    ul.soc
                        li.icon-facebook
                            a(href="#")
                        li.icon-instagram
                            a(href="#")
                        li.icon-twitter
                            a(href="#")
                    a.button(href="#") Idź do sklepu
