section
    .container-fluid
        .row.align-items-center 
            .col 
                .empty-cart
                    i.icon-empty-cart
                    h2.title Twój koszyk aktualnie jest pusty.
                    a.button(href="#") Wróć do Sklepu