header
    .container-fluid
        .row
            .col
                a.logo(href="/")
                    img(src="img/logo.svg", alt="logo")
            .col-auto
                i.icon-search
                .search
                    i.icon-close
                    h2.title Jakiego peoduktu szukasz?
                    form
                        .input
                            input(type="search")
                            button.icon-search(type="submit")
                    .search-result
                        h5.title Najczęściej wyszukoiwane kategorie
                        ul
                            li
                                a(href="#") Kalendarz ścienny
                            li
                                a(href="#") Kartki okolicznościowe
                            li
                                a(href="#") Gadżety
                            li
                                a(href="#") Kubki
                            li
                                a(href="#") Torby
                            li
                                a(href="#") Gry planszowe
                            li
                                a(href="#") Odzież
            .col-auto
                i.icon-cart
                    span 2
                .cart
                    i.icon-close
                    h2.title Twój koszyk zawiera
                        span 2
                        | produkty
                    .cart-items
                        .cart-item
                            img(src="img/img.png", alt="#")
                            .description
                                h5.title Bluza z kapturem
                                ul.product-meta
                                    li.price 140 zł
                                    li.color Kolor
                                        span(style="color:#000;")
                                    li.quantity Ilość
                                        span 1
                                a.icon-close.remove
                        .cart-item
                            img(src="img/img.png", alt="#")
                            .description
                                h5.title Bluza z kapturem
                                ul.product-meta
                                    li.price 140 zł
                                    li.color Kolor
                                        span(style="color:#f00;")
                                    li.quantity Ilość
                                        span 1
                                a.icon-close.remove
                    h4.title Darmowa dostawa
                    h5.title Do darmowej dostawy brakuje Ci jeszcze 100 zł
                    h4.price Razem do zapłaty:
                        span 280 zł
                    ul.buttons
                        li
                            a.button(href="#") Idź do koszyka
                        li
                            a.button(href="#") Idź do kasy
            .col-auto
                .language(data-before="En" data-after="Pl")
                    input#language(type="checkbox")
                    label(for="language")
            .col-auto
                .burger-menu
                    span
                    span
                    span
                    span
                    span
                .menu-block
                    i.icon-close
                    ul.menu
                        li
                            a(href="#") Home
                        li.current-menu-item
                            a(href="#") Sklep
                        li
                            a(href="#") Twórcy
                        li
                            a(href="#") Kontakt
                    ul.soc
                        li.icon-facebook
                            a(href="#")
                        li.icon-instagram
                            a(href="#")
                    ul.sub-menu
                        li
                            a(href="#") Polityka prywatności
                        li
                            a(href="#") Polityka prywatności
                        li
                            a(href="#") Polityka prywatności
