section
    .container-fluid
        .row 
            .bio
                .item
                    .img(style="color:#A1B8DF;" data-title="Cypriano Italiano")
                        img(src="img/photo-3.png", alt="")
                    .description
                        .arrows 
                            a.icon-left(href="#")
                            a.icon-right(href="#")
                        h1.title Cyprian Węgrzyn działający pod pseudonimem jako Cypriano Italiano to wielki pasjonat sportu i aktywnego trybu życia.
                        .excerpt
                            p Jeszcze do niedawna trenował profesjonalnie kalistenikę, czyli dziedzinę sportu polegającą na treningu siłowym opierającym się na ćwiczeniach z własną masą ciała. Cyprian jest pół Włochem i jak najbardziej wpisuje się w stereotypowy obraz Włocha. Jest niezwykle temperamentny, uwielbia prowadzić żywe dyskusje i jeść pizze oglądając serial lub mecz. Nocą można spotkać Cypriana jeżdżącego hulajnogą elektryczną po warszawskim Powiślu.
                            p Jego tiktokowy profil śledzi ponad 700 tysięcy obserwujących.
                        a.button.icon-chevron(href="#") Zobacz kolekcję 
                <!-- .item
                    .img(style="color:#942443;" data-title="JULIA SZPONER")
                        img(src="img/photo-4.png", alt="")
                    .description
                        h1.title Cyprian Węgrzyn działający pod pseudonimem jako Cypriano Italiano to wielki pasjonat sportu i aktywnego trybu życia.
                        .excerpt
                            p Jeszcze do niedawna trenował profesjonalnie kalistenikę, czyli dziedzinę sportu polegającą na treningu siłowym opierającym się na ćwiczeniach z własną masą ciała. Cyprian jest pół Włochem i jak najbardziej wpisuje się w stereotypowy obraz Włocha. Jest niezwykle temperamentny, uwielbia prowadzić żywe dyskusje i jeść pizze oglądając serial lub mecz. Nocą można spotkać Cypriana jeżdżącego hulajnogą elektryczną po warszawskim Powiślu.
                            p Jego tiktokowy profil śledzi ponad 700 tysięcy obserwujących.
                            a.button.icon-chevron(href="#") Zobacz kolekcję -->
