section.products 
    .container-fluid
        .row.align-items-center
            .col.col-auto
                .left-block.icon-x
                    img(src="img/photo-3.png", alt="")
            .col
                .top-head
                    h1.title Kolekcja
                        span Cypriano Italiano
                    ul.category-link
                        li.current-menu-item
                            a(href="#") Odzież
                        li
                            a(href="#") Gadżety
                    a.icon-right(href="#") Przewiń po więcej
                .products-slider(data-title="Cypriano Italiano")
                    .item
                        p.sale-budge -20%
                        a(href="#")
                            img(src="img/bluza.png", alt="")
                        h3.title
                            a(href="#") Bluza z kapturem
                        form.form
                            .price-block
                                 p.price
                                    span 200 zł
                                    | 140 zł
                            .choice
                                .select
                                    select
                                        option S
                                        option M
                                        option L
                                        option XL
                                        option XXL
                                        option XXXL
                                .radio-items
                                    .radio
                                        input#black-1(type="radio" name="color-1")
                                        label(for="black-1" style="color:#000000;")
                                    .radio
                                        input#grey-1(type="radio" name="color-1")
                                        label(for="grey-1" style="color:#B2B2B3;")
                                    .radio
                                        input#orange-1(type="radio" name="color-1")
                                        label(for="orange-1" style="color:#F26C4F;")
                                button.button.icon-plus(type="submit") Dodaj do koszyka
                    .item
                        a(href="#")
                            img(src="img/bluza.png", alt="")
                        h3.title
                            a(href="#") Bluza z kapturem
                        form.form
                            .price-block
                                 p.price
                                    span 200 zł
                                    | 140 zł
                            .choice
                                .select
                                    select
                                        option S
                                        option M
                                        option L
                                        option XL
                                        option XXL
                                        option XXXL
                                .radio-items
                                    .radio
                                        input#black-2(type="radio" name="color-2")
                                        label(for="black-2" style="color:#000000;")
                                    .radio
                                        input#grey-2(type="radio" name="color-2")
                                        label(for="grey-2" style="color:#B2B2B3;")
                                    .radio
                                        input#orange-2(type="radio" name="color-2")
                                        label(for="orange-2" style="color:#F26C4F;")
                                button.button.icon-plus(type="submit") Dodaj do koszyka
                    .item
                        a(href="#")
                            img(src="img/bluza.png", alt="")
                        h3.title
                            a(href="#") Bluza z kapturem
                        form.form
                            .price-block
                                 p.price
                                    span 200 zł
                                    | 140 zł
                            .choice
                                .select
                                    select
                                        option S
                                        option M
                                        option L
                                        option XL
                                        option XXL
                                        option XXXL
                                .radio-items
                                    .radio
                                        input#black-3(type="radio" name="color-3")
                                        label(for="black-3" style="color:#000000;")
                                    .radio
                                        input#grey-3(type="radio" name="color-3")
                                        label(for="grey-3" style="color:#B2B2B3;")
                                    .radio
                                        input#orange-3(type="radio" name="color-3")
                                        label(for="orange-3" style="color:#F26C4F;")
                                button.button.icon-plus(type="submit") Dodaj do koszyka
                    .item
                        a(href="#")
                            img(src="img/bluza.png", alt="")
                        h3.title
                            a(href="#") Bluza z kapturem
                        form.form
                            .price-block
                                 p.price
                                    span 200 zł
                                    | 140 zł
                            .choice
                                .select
                                    select
                                        option S
                                        option M
                                        option L
                                        option XL
                                        option XXL
                                        option XXXL
                                .radio-items
                                    .radio
                                        input#black-4(type="radio" name="color-4")
                                        label(for="black-4" style="color:#000000;")
                                    .radio
                                        input#grey-4(type="radio" name="color-4")
                                        label(for="grey-4" style="color:#B2B2B3;")
                                    .radio
                                        input#orange-4(type="radio" name="color-4")
                                        label(for="orange-4" style="color:#F26C4F;")
                                button.button.icon-plus(type="submit") Dodaj do koszyka
                    .item
                        a(href="#")
                            img(src="img/bluza.png", alt="")
                        h3.title
                            a(href="#") Bluza z kapturem
                        form.form
                            .price-block
                                 p.price
                                    span 200 zł
                                    | 140 zł
                            .choice
                                .select
                                    select
                                        option S
                                        option M
                                        option L
                                        option XL
                                        option XXL
                                        option XXXL
                                .radio-items
                                    .radio
                                        input#black-5(type="radio" name="color-5")
                                        label(for="black-5" style="color:#000000;")
                                    .radio
                                        input#grey-5(type="radio" name="color-5")
                                        label(for="grey-5" style="color:#B2B2B3;")
                                    .radio
                                        input#orange-5(type="radio" name="color-5")
                                        label(for="orange-5" style="color:#F26C4F;")
                                button.button.icon-plus(type="submit") Dodaj do koszyka
                    .item
                        a(href="#")
                            img(src="img/bluza.png", alt="")
                        h3.title
                            a(href="#") Bluza z kapturem
                        form.form
                            .price-block
                                 p.price
                                    span 200 zł
                                    | 140 zł
                            .choice
                                .select
                                    select
                                        option S
                                        option M
                                        option L
                                        option XL
                                        option XXL
                                        option XXXL
                                .radio-items
                                    .radio
                                        input#black-6(type="radio" name="color-6")
                                        label(for="black-6" style="color:#000000;")
                                    .radio
                                        input#grey-6(type="radio" name="color-6")
                                        label(for="grey-6" style="color:#B2B2B3;")
                                    .radio
                                        input#orange-6(type="radio" name="color-6")
                                        label(for="orange-6" style="color:#F26C4F;")
                                button.button.icon-plus(type="submit") Dodaj do koszyka 
