section.product
    .container-fluid 
        .row.align-items-center
            .col-4#product-32 
                a.icon-left(href="#") Przewiń po więcej
                p.meta Cypriano Italiano
                h1.title Bluza z kapturem
                p.price(data-percent="-20%")
                    span 200 zł
                    | 140 zł
                .product-slider-thumbnail
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
            .col-4
                .product-slider(data-title="Cypriano Italiano" style="color:#A1B8DF;")   
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
                    .item
                        img(src="img/bluza.png", alt="")
            .col-4
                .product-description
                    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                    form.form
                        .radio-items
                            label Kolor
                            .radio
                                input#black-1(type="radio" name="color-1")
                                label(for="black-1" style="color:#000000;")
                            .radio
                                input#grey-1(type="radio" name="color-1")
                                label(for="grey-1" style="color:#B2B2B3;")
                            .radio
                                input#orange-1(type="radio" name="color-1")
                                label(for="orange-1" style="color:#F26C4F;")
                        .select
                            label Rozmiar
                            select
                                option S
                                option M
                                option L
                                option XL
                                option XXL
                                option XXXL
                        .input
                            label Ilość
                            input(type="number" value="1") 
                        button.button.icon-plus(type="submit") Dodaj do koszyka
