/**
 * Theme Name:  Ten Fajyne
 * Theme URI:   https://i-wp-dev.com/
 * Author:      AlexL, On1
 * Author URI:  https://i-wp-dev.com/
 * Description: Ten Fajyne Woocommerce Theme
 * License:     GNU General Public License v2 or later
 * License URI: http://www.gnu.org/licenses/gpl-2.0.html
 * Tags:        Ten Fajyne, one frame, iwpdev
 * Text Domain: ten
 * Version:     1.2.0
 */

.button.icon-plus.disable {
	pointer-events: none;
	cursor: default;
}

.gifts {
	margin-top: 20px;
}

.button[name=update_cart] {
	display: none !important;
}