/**
custom-icons Webfont
*/

@font-face {
    font-family: 'GOTHIC';
    src: url('../fonts/GOTHIC.ttf');
    src: url('../fonts/GOTHIC-icons.eot') format('embedded-opentype'), url('../fonts/GOTHIC-icons.woff2') format('woff2'), url('../fonts/customGOTHICicons.woff') format('woff'), url('../fonts/GOTHIC-icons.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'custom-icons';
    src: url('../fonts/custom-icons.eot?1640959888928');
    src: url('../fonts/custom-icons.eot?#iefix-1640959888928') format('embedded-opentype'), url('../fonts/custom-icons.woff2?1640959888928') format('woff2'), url('../fonts/custom-icons.woff?1640959888928') format('woff'), url('../fonts/custom-icons.ttf?1640959888928') format('truetype');
    font-weight: normal;
    font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
    font-family: 'custom-icons';
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    font-weight: normal;
    font-style: normal;
    speak: none;
    text-decoration: inherit;
    font-size: inherit;
    text-transform: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*
Glyphs list
*/

.icon-cart:before {
        content: '\ea01';
    }
    .icon-chevron:before {
        content: '\ea02';
    }
    .icon-close:before {
        content: '\ea03';
    }
    .icon-edited:before {
        content: '\ea04';
    }
    .icon-facebook:before {
        content: '\ea05';
    }
    .icon-four:before {
        content: '\ea06';
    }
    .icon-instagram:before {
        content: '\ea07';
    }
    .icon-left:before {
        content: '\ea08';
    }
    .icon-minus:before {
        content: '\ea09';
    }
    .icon-plus:before {
        content: '\ea0a';
    }
    .icon-refresh:before {
        content: '\ea0b';
    }
    .icon-right:before {
        content: '\ea0c';
    }
    .icon-search:before {
        content: '\ea0d';
    }
    .icon-twitter:before {
        content: '\ea0e';
    }
    .icon-x:before {
        content: '\ea0f';
    }
    