$Chivo: 'Chivo', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Poppins: 'Poppins', sans-serif;
$black: #000;
$white: #fff;
$blue:#D3F0FC;
$grey:#B2B2B3;
$dark-blue:#7073B1;
html[class]{
    margin-top: 0 !important;
}
.woocommerce-checkout,
.woocommerce-cart{
    header{
        .burger-menu{
            span{
                background: $white;
            }
        }
        .icon-cart,
        .icon-search{
            color: $white;
        }
        .language {
            &:after,
            &:before{
                color: $white;

            }
            label {
                border-color: $white;
                &:before{
                    background: $white;
                }
            }
        }
    }
}
body.tax-product_cat,
body.home{
    header{
        .logo{
            width: 305px;
            
        }
    }
}
header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 64px 81px 0px 52px;
    z-index: 11;
    .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    .logo{
        display: block;
        margin-top: 6px;
        width: 217px;
        img{
            width: 100%;
        }
    }
    .burger-menu{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 31px;
        cursor: pointer;
        &:hover{
            span{
                background: $dark-blue;
            }
        }
        span{
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: $black;
            margin-left: 8px;
            margin-bottom: 8px;
            &:first-of-type{
                margin-left: 0;
            }
            &:nth-last-of-type(-n+2){
                margin-bottom: 0;
            }
        }
    }
    .icon-close{
        cursor: pointer;
        
        &:not(.remove){
            width: 40px;
            height: 40px;
            border-radius: 15px;
            border: 1px solid $blue;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 51px;
            left: 80px;
            transition: all 0.3s ease;
            &:hover{
                border-color:$dark-blue;
                background: $dark-blue;
                color: $white;
            }
            &:before{
                font-size: 10px;
            }
        }
    }
    .icon-search{
        position: relative;
        top: -4px;
        transition: all 0.3s ease;
        cursor: pointer;
        margin-right: 11px;
        font-size: 14px;
        &:hover{
            color: $dark-blue;
        }
    }
    .icon-cart{
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        margin-right: 22px;
        &:hover{
            color: $dark-blue;
        }
        
        span{
            display: block;
            position: relative;
            font-size: 14px;
            top: 2px;
            margin-left: 3px;
        }
    }
    .cart,
    .search,
    .menu-block{
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        position: fixed;
        max-width: 814px;
        background: $white;
        transition: all 0.3s ease;
        transform: translateX(calc(-100% - 20px));
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 0 0px 14px 14px rgba(0,0,0,.16);
        &.open{
            transform: translateX(0%);
            &:before{
                content: '';
                position: fixed;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
                width: 100vw;
                background: rgba(255,255,255,0.9);
                z-index: -1;
                pointer-events: none;
            }
        }
    }
    .menu-block{
        .menu{
            margin: auto 0;
            li{
                text-align: center;
                &.current-menu-item{
                    a{
                        pointer-events: none;
                        color: $dark-blue;
                        &:before{
                            width: 100%;
                        }
                    }
                }
                a{
                    font-size: 48px;
                    font-family: $Chivo;
                    position: relative;
                    color: $black;
                    text-decoration: none;
                    transition: all 0.3s ease;
                    &:hover{
                        color: $dark-blue;
                    }
                    &:before{
                        content: '';
                        background: $dark-blue;
                        position: absolute;
                        top: calc(50% + 3px);
                        left: 50%;
                        height: 3px;
                        transform: translate(-50%, -50%);
                        transition: all 0.3s ease;
                    }
                }
            }
        }
        .sub-menu{
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 30px 0 125px;
            li{
                margin: 0 15px;
            }
            a{
                color: $grey;
                text-decoration: none;
                transition: all 0.3s ease;
                &:hover{
                    color: $dark-blue;
                }
            }
        }
    }
    .language {
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        position: relative;
        top: -2px;
        &.checked{
            &:after{
                opacity: 1;
            }
        }
        &:not(.checked){
            &:before{
                opacity: 1;
            }
        }
        &:after,
        &:before{
            position: relative;
            color: $black;
            display: inline-block;
            font-size: 16px;
            font-family: $Roboto;
            opacity: 0.2;

        }
        &:before{
            content: attr(data-before);
            margin-right: 5px;
        }
        &:after{
            content: attr(data-after);
            margin-left: 5px;
        }
        input:checked + label {
            &:before {
                left: -8px;
                transform: translateX(23.5px);
            }
        }
        label {
            width: 25px;
            height: 12px;
            position: relative;
            background: transparent;
            border: 2px solid $black;
            border-radius: 31px;
            height: 10px;
            cursor: pointer;
            transition: all 0.3s ease;
            font-family: $Poppins;
            &:before {
                content: '';
                background: $black;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                transition: all 0.3s ease;
                display: block;
                position: absolute;
                top: 50%;
                left: 1.5px;
                margin-top: -2px;
            }
        }
        input {
            display: none;
        }
    }
    .soc{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto 0 0 0;
        li{
            margin: 0 13px;
            position: relative;
            &:before{
                font-size: 18px;
                color: #6F80D3;
            }
            a{
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                top: 0;
            }
        }
    }
    .search{
        padding: 127px 127px 50px;
        h2.title{
            color: $black;
            font-size: 45px;
            font-weight: 400;
            padding-left: 5px;
            position: relative;
            font-family: $Roboto;
            &:before{
                top: 0;
                left: 0;
                bottom: 0;
                width: 1px;
                content: '';
                background: $black;
                position: absolute;
            }
        }
        h5.title{
            color: $black;
            font-size: 15px;
            font-weight: 400;
            margin-bottom: 10px;
            font-family: $Roboto;
        }
        .search-result{
            max-height: calc(100vh - 330px);
            overflow: auto;
            ul{
                li{
                    margin-bottom: 10px;
                    a{
                        color: #A2A6BB;
                        font-size: 15px;
                        font-weight: 400;
                        font-family: $Roboto;
                        text-decoration: none;
                        transition: all 0.3s ease;
                        &:hover{
                            color: $dark-blue;
                        }
                    }
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .input{
            position: relative;
            margin:25px 0 35px;
            
            input{
                &[type="text"],
                &[type="search"]{
                    border: none;
                    border-radius: 0;
                    border-bottom: 1px solid rgba(112, 112, 112,0.13);
                    height: 60px;
                    width: 100%;
                    padding: 0 60px 0 0px;
                    color: $black;
                    font-size: 45px;
                    font-weight: 400;
                    font-family: $Roboto;
                    &::-webkit-input-placeholder { 
                        opacity: 1;
                    }
                    &::-moz-placeholder { 
                        opacity: 1;
                    }
                    &:-ms-input-placeholder {
                        opacity: 1;
                    }
                    &:-moz-placeholder {
                        opacity: 1;
                    }
                }
            }
            button{
                position: absolute;
                background-color: transparent;
                border:none;
                height: 60px;
                width: 60px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                right: 0;
                top: 0;
                font-size: 24px;
            }
        }
    }
    .cart{
        padding: 120px 115px 130px 175px;
        h4.title{
            font-size: 18px;
            font-weight: 400;
            font-family: $Roboto;
            margin-bottom: 15px;
        }
        h5.title{
            font-size: 16px;
            font-weight: 400;
            font-family: $Roboto;
            color: #A2A6BB;
        }
        h4.price{
            margin: auto 0 0 0;
            font-size: 18px;
            font-weight: 400;
            font-family: $Roboto;
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            span{
                font-size: 30px;
                font-weight: 400;
                font-family: $Roboto;
                color: $dark-blue;
                margin-left: 13px;
            }
        }
        h2.title{
            font-size: 24px;
            font-family: $Chivo;
            font-weight: 700;
            margin-bottom: 15px;
            span{
                color: $dark-blue;
            }
        }
        .cart-items{
            max-height: calc(100vh - 455px);
            overflow: auto;
            .cart-item{
                display: flex;
                flex-direction: row;
                margin-bottom: 15px;
                align-items: center;
                position: relative;
                flex-wrap: wrap;
                padding-bottom: 15px;
                padding-right: 60px;
                &:before{
                    content: '';
                    border-bottom: 1px solid #E1E1E1;
                    bottom: 0;
                    left: 0;
                    right: 60px;
                    position: absolute;
                }
                .description{
                    width: calc(100% - 218px);
                }
                .remove{
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    font-size: 10px;
                    color: #A2A6BB;
                }
                h5{
                    font-size: 16px;
                    font-weight: 400;
                    font-family: $Roboto;
                    margin-bottom: 10px;
                }
                img{
                    width: 133px;
                    height: 133px;
                    margin-right: 75px;
                    object-fit: contain;
                    object-position: center;
                }
                .product-meta{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    li{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        font-size: 16px;
                        margin-bottom: 5px;
                    }
                    .price{
                        color: $dark-blue;
                        margin-right: 15px;
                    }
                    .color{
                        font-size: 14px;
                        color: $grey;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        margin-right: 45px;
                        span{
                            width: 20px;
                            height: 20px;
                            border-radius: 8px;
                            background: currentColor;
                            margin-left: 10px;
                            box-shadow: inset 0 0 0 3px $white, 0 0 0 3px currentColor, 0 0 4px 5px rgba(0,0,0,.1);
                            &[style="color:#FFFFFF;"],
                            &[style="color:#ffffff;"],
                            &[style="color:#fff;"],
                            &[style="color:#FFF;"]{
                                box-shadow: inset 0 0 0 3px $blue , 0 0 0 3px currentColor, 0 0 4px 5px rgba(0,0,0,.1);
                            }
                        }
                    }
                    .quantity{
                        font-size: 14px;
                        color: $grey;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        span{
                            color: $black;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
        .buttons{
            display: flex;
            flex-direction: row;
            margin-top: 35px;
            justify-content: space-between;
            li{
                &:first-of-type{
                    .button{
                        border: 1px solid $dark-blue;
                        background: $blue;
                    }
                }
                &:last-of-type{
                    .button{
                        background: $white;
                        box-shadow: 8px 12px 40px rgba(77, 81, 158, 0.17);
                    }
                }
            }
            .button{
                width: 170px;
                height: 50px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                text-decoration: none;
                color: $black;
                font-size: 16px;
                font-family: $Roboto;
                 transition: all 0.3s ease;
                &:hover{
                    background: $dark-blue !important;
                    color: $white !important;
                }
            }
        }
    }
}
