$Chivo: 'Chivo', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Poppins: 'Poppins', sans-serif;
$black: #000;
$white: #fff;
$blue:#D3F0FC;
$grey:#B2B2B3;
$dark-blue:#7073B1;
$red:#942443;
.wpb_button, 
.wpb_content_element,
ul.wpb_thumbnails-fluid > li{
    margin-bottom: inherit !important;
}
.woocommerce a.remove:hover {
    color: $dark-blue !important;
    background: transparent;
}
.woocommerce-message{
    border-top-color:$dark-blue;
    .button{
       width: 200px;
        height: 50px;
        margin-top: 85px;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 20px !important;
        text-decoration: none;
        color: $black;
        font-size: 16px;
        font-family: $Roboto;
        background: $white;
        box-shadow: 8px 12px 40px rgba(77, 81, 158, 0.17);
        pointer-events: auto;
        transition: all 0.3s ease;
        letter-spacing: -0.5px;
        &:hover{
            background: $dark-blue !important;
            color: $white !important;
        } 
    }
}
@keyframes move {
    100%  {
        transform:translateX(-100%);
        left: 0;
    }
}
section{
    .container-fluid{
        padding-left: 0;
        padding-right: 0;
    }
    .row{
        height: 100vh;
    }
}

.event{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 286px 0 0 140px;
    .img{
        width: 270px;
        height: 188px;
        background: #9597A4;
        margin-right: 30px;
        margin-top: 20px;
        position: relative;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:before{
            position: absolute;
            top: calc(50% - 10px);
            left: 0;
            transform: translate(-50%,-50%);
            color: #942443;
            font-size: 74px;
        }
    }
    .description{
        width: calc(100% - 300px);
        h1.title{
            font-size: 48px;
            font-weight: 400;
            font-family: $Roboto;
            margin-bottom: 25px;
            letter-spacing: -1.5px;
            line-height: 1;
            margin-top: 10px;
        }
        .link{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            color: $black;
            text-decoration: none;
            letter-spacing: -0.5px;
            &:before{
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid $black;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                color: $black;
                font-size: 10px;
                margin-right: 20px;
            }
        }
    }
}
.category-link{
    padding: 127px 0 0 228px;
    position: relative;
    z-index: 1;
    .widgettitle{
        font-size: 24px;
        font-family: $Roboto;
        font-weight: 400;
        color: $black;
        margin-bottom: 30px;
        letter-spacing: -0.6px;
    }
    .menu {
        columns: 2;
        max-width: 420px;
        li{
            margin-bottom: 8.5px;
            &.current-menu-item{
                a{
                    color: $black;
                }
            }
            a{
                color: #A2A6BB;
                font-size: 15px;
                font-weight: 400;
                font-family: $Roboto;
                text-decoration: none;
                transition: all 0.3s ease;
                &:hover{
                    color: $dark-blue;
                }
            }
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
}
.product-description,
.home-slider{
    .slick-arrow{
        position: fixed;
        top: 50%;
        right: 472px;
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 8px 12px 40px rgba(77, 81, 158, 0.17);
        border: 1px solid transparent;
        font-size: 18px;
        cursor: pointer;
        z-index: 1;
        transition: all 0.3s ease;
        background: $white;
        pointer-events: auto;
        &:hover{
            border-color: $blue;
            color: #A2A6BB;
        }
    }
}
.home-slider{
    margin-left: -225px;
    width: calc(100% + 225px);
    &:before{
        content: '';
        position: absolute;
        width: 428px;
        left: 287px;
        bottom: 21%;
        top: 0;
        background: #A1B8DF;
    }
    .slick-dots{
        bottom: inherit;
        right: 70px;
        top: calc(50% - 30px);
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        width: auto;
        pointer-events: auto;
        li{
            margin: 20px 0;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            &.slick-active{
                button{
                    background: $black;
                }
            }
            button{
                background: $grey;
                width: 5px !important;
                height: 5px !important;
                border-radius: 50%;
                display: block;
                padding: 0;
                &:before{
                    display: none;
                }
            }
        }
    }
    .item{
        height: 100vh;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding-right: 95px;
        z-index: 1;
        img{
            height: 98vh;
            object-fit: contain;
            object-position: bottom;
            left: 43px;
            bottom: 0; 
            position: absolute;
            pointer-events: none;
        }
    }
    .description{
        width: 432px;
        margin-top: auto;
        margin-bottom: 165px;
        h2.title{
            font-size: 73px;
            font-weight: 700;
            font-family: $Roboto;
            color: $red;
            line-height: 1.3;
        }
        .button{
            width: 200px;
            height: 50px;
            margin-top: 85px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            text-decoration: none;
            color: $black;
            font-size: 16px;
            font-family: $Roboto;
            background: $white;
            box-shadow: 8px 12px 40px rgba(77, 81, 158, 0.17);
            pointer-events: auto;
            transition: all 0.3s ease;
            letter-spacing: -0.5px;
            &:hover{
                background: $dark-blue !important;
                color: $white !important;
            }
        }
    }
}

.bio{
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    .item{
        padding-right: 177px;
        height: 100vh;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        .img{
            width: calc(100% - 605px);
            margin-right: 145px;
            position: relative;
            z-index: 1;
            display: flex;
            flex-direction: column;
            &:before{
                content: '';
                position: absolute;
                right: 0;
                left: 155px;
                background: currentColor;
                bottom: 0;
                height: calc(100vh - 340px);
                z-index: -1;
            }
            &:after{
                content: attr(data-title);
                bottom: -40px;
                left: 100%;
                width: auto;
                position: fixed;
                font-size: 560px;
                text-transform: uppercase;
                white-space: nowrap;
                color: transparent;
                -webkit-text-stroke: 1px #eee;
                text-stroke: 1px #eee;
                font-family: $Roboto;
                font-weight: 700;
                letter-spacing: 80px;
                z-index:1;
                transform: translateX(0%);
                animation: 11.1643s linear 0s infinite normal none running move;
                display: flex;
                width: auto;
            }
            img{
                width: 1218px;
                height: 100vh;
                transform: translate(-135px,15px);
                object-fit: cover;
                object-position: top; 
                position: relative;
                z-index: 2 !important;
            }
        }
        .description{
            max-width: 460px;
            width: 100%;
            margin: auto 0;
            position: relative;
            z-index: 1;
        }
    }
    .arrows{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 35px;
    }
    [class*="icon-"]{
        & + [class*="icon-"]{
            margin-left: 15px;
        }
    }
    .icon-left,
    .icon-right{
        width: 50px;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        box-shadow: 8px 12px 40px rgba(77, 81, 158, 0.17);
        border: 1px solid transparent;
        font-size: 18px;
        cursor: pointer;
        z-index: 1;
        transition: all 0.3s ease;
        text-decoration: none;
        color: $black;
        &:hover{
            border-color: $blue;
            color: #A2A6BB;
        }
    }
    .description{
        h1.title{
            font-size: 30px;
            font-family: $Roboto;
            color: $black;
            margin-bottom: 15px;
            font-weight: 400;
        }
        .excerpt{
            max-height: 40vh;
            overflow: auto;
            p{
                font-size: 15px;
                font-family: $Roboto;
                font-weight: 400;
                color: #A2A6BB;
                margin-bottom: 20px;
                line-height: 1.4;
            }
        }
    }
    .button{
        height: 50px;
        margin-top: 30px;
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        text-decoration: none;
        color: $black;
        font-size: 16px;
        font-family: $Roboto;
        background: $white;
        box-shadow: 8px 12px 40px rgba(77, 81, 158, 0.17);
        padding: 0 25px;
        transition: all 0.3s ease;
        letter-spacing: -0.5px;
        &:hover{
            background: $dark-blue !important;
            color: $white !important;
        }
        &:before{
            order: 1;
            margin-left: 30px;
            font-size: 10px;
        }
    }
}
.img-contacts{
    padding-left: 140px !important;
    display: flex;
    flex-direction: column;
    .vc_single_image-wrapper{
        height: 100vh;
        display: flex !important;
        flex-direction: column;
        justify-content: flex-end;
    } 
    img{
        max-width: 980px !important;
        width: 100%;
        height: 100% !important;
        max-height: calc(100vh - 205px);
        object-fit: cover;
        object-position: top center;
    }
}
.description-contacts{
    max-width:650px;
    padding-right: 200px !important;
    margin: auto 0 auto -10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-top: 300px;
    h1.title{
        font-size: 30px;
        font-family: $Roboto;
        font-weight: 400;
        margin-bottom: 61px;
        color: $black;
        letter-spacing: -0.6px
    }
    h4.title{
        font-size: 18px;
        font-family: $Roboto;
        font-weight: 400;
        margin-bottom: 15px;
        & + p{
            margin-bottom: 20px;
            line-height: 1.85;
            letter-spacing: -0.3px
        }
    }
    p{
        color: #A2A6BB;
        font-size: 15px;
        font-family: $Roboto;
        font-weight: 400;
        margin-bottom: 50px;
        line-height: 21px;
    }
    .button{
        .vc_btn3{
            height: 50px;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            text-decoration: none;
            color: $black !important;
            font-size: 16px;
            font-family: $Roboto;
            box-shadow: 8px 12px 40px rgba(77, 81, 158, 0.17);
            padding: 0 25px;
            width: 200px;
            background: $white !important;
            transition: all 0.3s ease;
            letter-spacing: -0.5px;
            &:hover{
                background: $dark-blue !important;
                color: $white !important;
            }
        }
    }
    .soc{
        display: flex;
        flex-direction: row;
        margin-bottom: 7px;
        li{
            position: relative;
            margin-right: 30px;
            &:before{
                font-size: 18px;
                color: #6F80D3;
            }
        }
        a{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }
}
.cart-empty.woocommerce-info{
    display: flex !important;
    flex-direction: row;
    align-items: center;
    position: fixed;
    background: #fff;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-bottom: 0 !important;
    padding: 15px 35px;
    &:before{
        position: static !important;
        margin-right: 10px;
    }
    
}
.return-to-shop{
    position: fixed;
    bottom: 7px;
    right: 35px;
    z-index: 10;
}
.woocommerce-NoticeGroup,
.woocommerce-form-coupon-toggle,
.woocommerce-notices-wrapper {
    position: fixed;
    background: #fff;
    padding: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    
    .woocommerce-error,
    .woocommerce-info, 
    .woocommerce-message{
        margin-bottom: 0 !important;
        &:before{
            position: static !important;
            margin-right: 10px;
        }
    }
}

.left-block{
    background: #A1B8DF;
    height: 100vh;
    width: 194px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    a.icon-x{
        top: 15px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 75px;
        color: $white;
        text-decoration: none;
        z-index: 10;
        transition: all 0.3s ease;
        &:hover{
            color: $blue;
        }
    }
    img{
        width: 268px;
        max-width: 268px;
        transform: translate(40px, 44%); 
        pointer-events: none;
        position: relative;
        z-index: 1;
    }
}
.products {
    .align-items-center{
        align-items: flex-start !important;
    }
    p.meta{
        display: inline-flex;
        background: #6F80D3;
        color: $white;
        padding:0 13px;
        line-height: 21px;
        font-size: 14px;
        font-weight: 400;
        font-family: $Roboto;
        border-radius: 0 12px 3px 0;
        letter-spacing: -0.5px;
        margin-bottom: 2px;
    }
    .top-head{
        display: flex;
        flex-direction: row;
        padding-left: 466px;
        padding-right: 80px;
        margin-bottom: 78px;
        margin-top: 125px;
        a{
            margin: 0 0 37px auto;
            display: flex;
            flex-direction: row;
            color: #A2A6BB;
            align-items: center;
            text-decoration: none;
            letter-spacing: -0.5px;
            position: relative;
            z-index: 10;
            &:before{
                order: 1;
                margin-left: 15px;
            }
        }
    }
    h1.title{
        font-size: 24px;
        font-weight: 400;
        font-family: $Roboto;
        font-family: $black;
        margin-right: 155px;
        letter-spacing: -0.5px;
        position: relative;
        z-index: 10;
        span{
            display: flex;
            font-weight: 700;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            cursor: pointer;
            text-transform: lowercase;
            &:before{
                order: 1;
                margin-left: 5px;
            }
        }
    }
    .category-link{
        position: relative;
        z-index: 10;
        li{
            margin-bottom: 10px;
            &.current-menu-item{
                a{
                    color: $black;
                }
            }
            a{
                color: #A2A6BB;
                font-size: 15px;
                font-weight: 400;
                font-family: $Roboto;
                text-decoration: none;
                transition: all 0.3s ease;
                &:hover{
                    color: $dark-blue;
                }
            }
            &:last-of-type{
                margin-bottom: 0;
            }
        }
    }
    .col:not(.col-auto){
        max-width: calc(100% - 85px);
        margin: 0 25px 0 auto;
    }
    .col-auto{ 
        & + .col:not(.col-auto){
            max-width: calc(100% - 243px);
            .top-head {
                padding-left: 307px;
            }
            .products-slider {
                 h3.title{
                    margin-top: 12px;
                    margin-bottom: 10px;
                }
                 p.meta{
                    display: none;
                }
                .slick-list{
                    padding-right: 0;
                    padding-left: 10px;
                }
                .item {
                    width: 427px;
                }
            }
        }
    }
}
.products-slider{
    
    .slick-list{
        padding-bottom: 40px !important;
        padding-right: 50px;
    }
    .slick-track{
        display: flex;
        flex-direction: row;
    }
    .item{
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        float: none;
        & > a{
            width: 100%;
        }
    }
    img{
        width: 100%;
        height: 427px;
        object-fit: contain;
        object-position: center;
        margin: 0 auto;
        display: table;
        box-sizing: border-box;
        padding: 54px;
    }
    .slick-dots{
        margin-bottom: -95px;
        li{
            margin: 0px 20px;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            &.slick-active{
                button{
                    background: $black;
                }
            }
            button{
                background: $grey;
                width: 5px !important;
                height: 5px !important;
                border-radius: 50%;
                display: block;
                padding: 0;
                &:before{
                    display: none;
                }
            }
        }
    }
    &:after{
        content: attr(data-title);
        bottom: 70px;
        left: 100%;
        position: fixed;
        font-size: 560px;
        line-height: 1;
        text-transform: uppercase;
        white-space: nowrap;
        color: transparent;
        -webkit-text-stroke: 1px #eee;
        text-stroke: 1px #eee;
        font-family: $Roboto;
        font-weight: 700;
        letter-spacing: 80px;
        z-index: -1;
        animation: 11.1643s linear 0s infinite normal none running move;
        display: flex;
        width: auto;
    }
    .sale-budge{
        position: absolute;
        background: #6F80D3;
        color: $white;
        width: 75px;
        height: 36px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 13px;
        top: 35px;
        left: -15px;
        transform: rotate(90deg);
        &:before{
            content: '';
            width: 5px;
            height: 5px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 10px;
            background: $white;
            border-radius: 50%;
            margin-right: 10px;
        }
    }
    .select{
        margin: auto 0;
        .select2-container {
            width: 120px !important;
        }
    }
    .select2-container{
        padding: 10px 0;
        .select2-selection__rendered{
            line-height: 40px;
            text-align: center;
        }
        .select2-selection__arrow {
            height:38px;
            top: 10px !important;
            b{
                border-color:#C4C5DC transparent transparent;
                border-style: solid;
                border-width: 6px 5px 0;
                margin-left: -8px;
            }
        }
        .select2-selection--single{
            height: 40px;
            border-color:$blue;
            border-radius: 18px
        } 
    }
    .slick-list{
        padding-bottom: 40px;
    }
    .price{
        font-family: $Roboto;
        font-weight: 400;
        font-size: 26px !important;
        color: $dark-blue !important;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        line-height: 50px;
        span{
            margin-right: 15px;
            font-size: 20px;
            color: #B2B2B3;
            text-decoration: line-through;
            order: -1;
        }
    }
    .item{
        margin: 0 0 0 168px;
        position: relative;
        z-index: 1;
    }
    h3.title{
        font-size: 20px;
        font-family: $Roboto;
        font-weight: 400;
        margin: 2px 0 12px;
        width: 100%;
        letter-spacing: -0.5px;
        a{
            text-decoration: none;
            color: $black;
        }
    }
    .button{
        width: 100%;
        height: 50px;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 20px !important;
        text-decoration: none;
        color: $black;
        font-size: 16px;
        font-family: $Roboto;
        background: $white !important;
        box-shadow: 8px 12px 40px rgba(77, 81, 158, 0.17) !important;
        border: none;
        cursor: pointer;
        margin: 25px 0 0;
        transition: all 0.3s ease;
        letter-spacing: -0.5px;
        &.disable{
            opacity: 0.6;
        }
        &:hover{
            background: $dark-blue !important;
            color: $white !important;
        }
        &:before{
            order: 1;
            margin-left: 15px;
            font-size: 10px;
        }
    }
    .form{
        display: flex;
        flex-direction: row;
    }
    .price-block{
        width: 40%;
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-end;
        margin: auto 0 0 0;
    }
    .choice{
        width: 60%;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-end;
        margin: auto 0 0 0;
        min-height: 108px;
    }
    .radio-items{
        margin: auto 0 auto 10px;
        display: flex;
        flex-direction: row;
        width: calc(100% - 130px);
        
        float: right;
        justify-content: flex-end;
    }
    .radio{
        &:first-of-type{
            label{
                margin-left: 0;
            }
        }
        input{
            display: none;
            &:checked{
                & + label {
                    &[style="color:#FFFFFF;"],
                    &[style="color:#ffffff;"],
                    &[style="color:#fff;"],
                    &[style="color:#FFF;"]{
                        &:before{ 
                            box-shadow: inset 0 0 0 3px $blue , 0 0 0 3px currentColor, 0 0 4px 5px rgba(0,0,0,.1);
                        }
                    }
                    &:before{
                        box-shadow: inset 0 0 0 3px $white, 0 0 0 3px currentColor, 0 0 4px 5px rgba(0,0,0,.1);
                    }
                }
            }
        }
        label{
            display: block;
            position: relative;
            margin-left: 10px;
            cursor: pointer;
            &:before{
                content: '';
                background: currentColor;
                width: 20px;
                height: 20px;
                border-radius: 8px;
                position: relative;
                display: block;
                box-shadow: 0 0 2px 1px rgba(0,0,0,.1);

            }
        }
    } 
}
.single-product{
    .align-items-center{
        padding-top: 127px !important;
    }
    .single_variation_wrap,
    .variations{
        display: none !important;
    }
    .choice{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .radio-items{
        order: -1; 
    }
    .col-4{
        .woocommerce-product-details__short-description{
            margin-bottom: 20px;
        }
        &[id*="product"]{
            padding-left: 226px;
            position: relative;
            z-index: 10;
        }
        &:last-of-type{
            padding-right: 105px;
        }
        p.meta{
            display: inline-flex;
            background: #6F80D3;
            color: $white;
            padding:0 13px;
            line-height: 21px;
            font-size: 14px;
            font-weight: 400;
            font-family: $Roboto;
            border-radius: 0 12px 3px 0;
        }
        h1.title{
            font-size: 28px;
            font-family: $Roboto;
            font-weight: 400;
            margin-bottom: 60px;
        }
        a.icon-left{
            margin: 0 0 50px;
            display: flex;
            flex-direction: row;
            color: #A2A6BB;
            align-items: center;
            text-decoration: none;
            &:before{
                margin-right: 15px;
            }
        }
        .price{
            font-family: $Roboto;
            font-weight: 400;
            font-size: 34px;
            color: $dark-blue;
            display: flex;
            align-items: center;
            flex-direction: row;
            flex-wrap: wrap;
            position: relative;
            margin-bottom: 65px;
            span{
                margin-right: 25px;
                font-size: 28px;
                color: #B2B2B3;
                text-decoration: line-through;
                order: -1;
            }
            &[data-percent]{
                padding-left: 42px;
                &:before{
                    content: attr(data-percent);
                    position: absolute;
                    background: #6F80D3;
                    color: $white;
                    width: 75px;
                    height: 32px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    border-radius: 13px;
                    left: -22px;
                    top:50%;
                    transform: rotate(90deg) translateX(-25%);
                    font-size: 16px;
                }
                &:after{
                    content: '';
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    top: -12px;
                    left: 12px;
                    background: $white;
                    border-radius: 50%;
                    margin-right: 10px;
                }
            }
        }
    }
}
.product-slider-thumbnail{
    width: 170px;
    margin-left: -40px;
    .item{
        position: relative;
        z-index: 1;
    }
    .slick-list{
        padding: 0 40px !important;
    }
    .item{
        margin: 10px 0;
        width: 90px;
        height: 90px;
        padding: 10px;
        border-radius: 32px;
        cursor: pointer;
        background: $white;
        &:not(.slick-center){
            position: relative;
            border: 1px solid $blue;
            img{
                opacity: .4;
            }
        }
        &.slick-center{
            box-shadow: 8px 12px 40px rgba(77, 81, 158, 0.17);
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
            box-sizing: border-box;
        }
    }
}
.product-slider{
    .item{
        position: relative;
        z-index: 1;
    }
    img{
        width: 624px;
        height: 736px;
        object-fit: contain;
        object-position: center;
        max-width: inherit;
    }
    &:after{
        content: '';
        position: fixed;
        width: 428px;
        left: 46vw;
        bottom: 22%;
        top: 0;
        background: currentColor;
        z-index: -1;
        pointer-events: none;
    }
    &:before{
        content: attr(data-title);
        bottom: 70px;
        left: 100%;
        position: fixed;
        font-size: 560px;
        line-height: 1;
        text-transform: uppercase;
        white-space: nowrap;
        color: transparent;
        -webkit-text-stroke: 1px #eee;
        text-stroke: 1px #eee;
        font-family: $Roboto;
        font-weight: 700;
        letter-spacing: 80px;
        z-index: 0;
        pointer-events: none;
        animation: 11.1643s linear 0s infinite normal none running move;
        display: flex;
        width: auto;
    }
}
.product-description{
    position: relative;
    padding-top: 125px;
    max-width: 335px;
    margin: 0 85px 0 auto;
    z-index: 10;
    .woocommerce-product-details__short-description{
        max-height: 182px;
        overflow: auto;
    }
    .radio-items,
    .select,
    .input{
        display: flex;
        flex-direction: row;
        align-items: center;
        & > label{
            font-size: 16px;
            font-weight: 400;
            font-family: $Roboto;
            color: #A2A6BB;
            margin-right: 30px;
        }
    }
    .select,
    .input{
        width: calc(100% / 2);
    }
    .input{
        justify-content: flex-end;
        float: right;
        margin-bottom: 60px;
        [type="number"]{
            width: 68px;
            height: 40px;
            border: 1px solid $blue;
            border-radius: 17px;
            text-align: center;
            font-size: 16px;
            font-weight: 400;
            font-family: $Roboto;
            color: $black;
            -moz-appearance:textfield; 
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
            }
        }
    }
    p{
        font-size: 18px;
        line-height: 26px;
        color: #A2A6BB;
    }
    .slick-arrow{
        top: 0;
        right: -85px;
        position: absolute;
        &.icon-left{
            right: 5px;
        }
    }
    .select{
        margin-bottom: 60px;
        float: left;
    }
    .select2-container {
        padding: 10px 0 !important;
        width: 120px !important;
        .select2-dropdown{
            background: #494C5B; 
            border-radius: 5px;
            position: relative;
            .select2-search--dropdown{
                padding: 15px;
            }
            input{
                padding: 0 15px;
                height: 40px;
                border-radius: 10px;
                border: 1px solid $blue;
            }
            &:before{
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 2px;
                position: absolute;
                background: #494C5B;
                top: 0;
                right: 10px;
                transform: rotate(-45deg) translateY(-50%);
                z-index: -1;
            }
            li{
                color: $white;
                &[data-selected="true"] {
                    background-color: $blue;
                    color: $black;
                }
                &:hover{
                    background: $blue;
                    color: $black;
                }
            }
        }
        .select2-selection--single{
            height: 40px;
            border-color:$blue;
            border-radius: 18px
        }
        .select2-selection__rendered{
            line-height: 40px;
            text-align: center;
        }
        .select2-selection__arrow {
            height:38px;
            top: 10px !important;
            b{
                border-color:#C4C5DC transparent transparent;
                border-style: solid;
                border-width: 6px 5px 0;
                margin-left: -8px;
            }
        }
    }
    .radio-items{
        margin: 75px 0 25px;
        display: flex;
        flex-direction: row;
    }
    .radio{
        &:first-of-type{
            label{
                margin-left: 0;
            }
        }
        input{
            display: none;
            &:checked{
                & + label {
                    &[style="color:#FFFFFF;"],
                    &[style="color:#ffffff;"],
                    &[style="color:#fff;"],
                    &[style="color:#FFF;"]{
                        &:before{
                            box-shadow: inset 0 0 0 3px $blue , 0 0 0 3px currentColor, 0 0 4px 5px rgba(0,0,0,.1);
                        }
                    }
                    &:before{
                        box-shadow: inset 0 0 0 3px $white, 0 0 0 3px currentColor, 0 0 4px 5px rgba(0,0,0,.1);
                    }
                }
            }
        }
        label{
            display: block;
            position: relative;
            margin-left: 10px;
            cursor: pointer;
            &:before{
                content: '';
                background: currentColor;
                width: 20px;
                height: 20px;
                border-radius: 8px;
                position: relative;
                display: block;
                box-shadow: 0 0 2px 1px rgba(0,0,0,.1);

            }
        }
    } 
    .button{
        width: 200px;
        height: 50px;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 20px !important;
        text-decoration: none;
        color: $black;
        font-size: 16px;
        font-family: $Roboto;
        background: $white;
        box-shadow: 8px 12px 40px rgba(77, 81, 158, 0.17);
        border: none;
        cursor: pointer;
        margin: 30px auto;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        transition: all 0.3s ease;
        letter-spacing: -0.5px;
        &:hover{
            background: $dark-blue !important;
            color: $white !important;
        }
        &:before{
            order: 1;
            margin-left: 15px;
            font-size: 10px;
        }
        &.disable{
            opacity: 0.6;
            pointer-events: none;
        }
    }
}
.woocommerce-cart{
    section{
        .col-4{
            height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-right: 70px;
            padding-left: 115px;
        }
        .col-8{
            padding-right: 150px;
        }
    }
    .top-head{
        padding-left: 70px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 50px;
        margin-top: 170px;
        a.icon-left{
            margin: 0 0 0px auto;
            display: flex;
            flex-direction: row;
            color: #A2A6BB;
            align-items: center;
            text-decoration: none;
            &:before{
                margin-right: 15px;
            }
        }
        h1.title{
            font-size: 34px;
            font-family: $Roboto;
            font-weight: 400;
            span{
                color: #6F80D3;
            }
        }
    }
    .coupon,
    .discounts{
        margin-top: 20px;
        padding-left: 70px;
        input{
            &[type="text"]{
                padding: 0 25px;
                max-width: 375px;
                width: 100%;
                height: 58px;
                border-radius: 17px;
                border: 1px solid $blue; 
            }
        }
        .button{
            height: 58px;
            border: none;
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            border-radius: 20px;
            text-decoration: none;
            color: $black;
            font-size: 18px;
            font-family: $Roboto;
            background: $white;
            box-shadow: 8px 12px 40px rgba(77, 81, 158, 0.17);
            padding: 0 25px;
            width: 220px;
            margin-left: 10px;
            transition: all 0.3s ease;
            letter-spacing: -0.5px;
            &:hover{
                background: $dark-blue !important;
                color: $white !important;
            }
        }
    }
}
.product-items{
    padding-left: 70px;
    overflow: auto;
    max-height: calc(100vh - 444px);
    .product-item{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        border: 1px solid #D6D6D6;
        padding: 15px 85px 15px 20px;
        .screen-reader-text{
            display: none;
        }
        .remove{
            margin: 0 0 0 auto;
            font-size: 15px;
            color: #A2A6BB;
            transition: all 0.3s ease;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            &:hover{
                color: $dark-blue;
            }
            &:before{
                font-size: 10px;
                margin-right: 8px;
            }
        }
        .description{
            margin-left: 15px;
            h3.title{
                font-size: 15px;
                font-weight: 400;
                font-family: $Roboto;
                color: $black;
            }
            .color,
            .size {
                font-size: 14px;
                font-weight: 400;
                font-family: $Roboto;
                color: #ADADAD;
                margin-top: 5px;
            }
            .color{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                color: #A2A6BB;
                span{
                    background: currentColor;
                    width: 20px;
                    height: 20px;
                    border-radius: 8px;
                    display: block;
                    margin-left: 10px;
                }
            }
            .number{
                display: inline-flex;
            }
            .number,
            .quantity{
                display: inline-flex;
                flex-direction: row;
                flex-wrap: wrap;
                align-items: center;
                margin-top: 60px;
                .input{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    label{
                        display: none;
                    }
                }
                input{
                    width: 68px;
                    height: 40px;
                    border-radius: 17px;
                    border: 1px solid $blue;
                    text-align: center;
                    font-size: 16px;
                    font-family: $Roboto;
                    margin: 0 8px;
                    -moz-appearance:textfield; 
                    &::-webkit-outer-spin-button,
                    &::-webkit-inner-spin-button {
                        -webkit-appearance: none;
                    }
                }
                .decrement,
                .increment{
                    width: 40px;
                    height: 40px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    font-size: 14px;
                    border-radius: 11px;
                    box-shadow: 8px 12px 40px rgba(77, 81, 158, 0.17);
                    &:hover{
                        background: $dark-blue;
                        color: $white;
                    }
                }
            }
            .amount,
            .price{
                font-family: $Roboto;
                font-weight: 400;
                font-size: 16px;
                color: $dark-blue;
                display: inline-flex;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                position: relative;
                margin-left: 40px;
                bdi{
                    color: $dark-blue;
                    font-size: 16px;
                    span{
                        color: $dark-blue;
                        font-size: 16px;
                    }
                }
                span{
                    margin-right: 25px;
                    font-size: 15px;
                    color: #B2B2B3;
                    text-decoration: line-through;
                }
            }
        }
        img{
            width: 274px;
            height: 274px;
            object-fit: contain;
            object-position: center;
            padding: 20px;
            box-sizing: border-box;
        }
    }
}
.delivery{
    border-top: 1px solid rgba(255,255,255,0.27);
    padding-top: 46px;
    p{
        margin-top: 30px;
        font-size: 15px;
        font-weight: 400;
        font-family: $Roboto;
        color: $white;
        &:not(.price){
            margin-bottom: 70px;
        }
        &.price{
            font-size: 23px;
            font-weight: 400;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 22px;
            margin-bottom: 40px;
            border-bottom: 1px solid rgba(255,255,255,0.27);
        }
    }
    h2.title{
        font-size: 23px;
        color: $white;
        font-family: $Roboto;
        font-weight: 400;
        margin-bottom: 46px;
    }
    .button{
        height: 50px;
        border: none;
        display: inline-flex !important;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 20px !important;
        text-decoration: none;
        color: $black;
        font-size: 18px;
        font-family: $Roboto;
        background: $white;
        box-shadow: 8px 12px 40px rgba(77, 81, 158, 0.17);
        padding: 0 25px !important;
        width: 200px;
        margin-left: 10px;
        cursor: pointer;
        transition: all 0.3s ease;
        letter-spacing: -0.5px;
        &:hover{
            background: $dark-blue !important;
            color: $white !important;
        }
    }
    .radio{
        position: relative;
        margin-bottom: 15px;
        input{
            display: none;
            &:checked{
                & + label{
                    &:before{
                        background: $black;
                    }
                }
            }
        }
        label{
            display: flex;
            flex-direction: row;
            align-items: center;
            color: $white;
            cursor: pointer;
            span{
                margin: 0 0 0 auto;
            }
            &:before{
                top: -1px;
                content:'';
                position: relative;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background:$white;
                box-shadow: inset 0 0 0 4px $white, 0 0 0 2px #A2A6BB; 
                margin-right: 10px;
            }
        }
    }
}
.error404{
    h1{
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        padding-left: 150px;
        font-weight: 400;
        font-family: $Roboto;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            width: 100%;
            top: calc(50% + 10px);
            height: 100vh;
            z-index: -1;
            background: #A1B8DF; 
            right: calc(50% - 3.906vw);
        }
        .icon-x{
            font-size: 153px;
            color: $red;
            margin: 0 110px;
        }
       .icon-four{
            position: relative;
            z-index: 1;
            font-size: 448px;
            color: transparent;
            -webkit-text-stroke: 1px #5A5A5A;
            text-stroke: 1px #5A5A5A;
            font-family: $Roboto;
            font-weight: 700;
            
        }
    }
    .description{
        max-width: 450px;
        width: 100%;
        h2.title{
            font-size: 30px;
            font-family: $Roboto;
            font-weight: 400;
            margin-bottom: 40px;
        }
        p{
            font-size: 15px;
            color: #A2A6BB;
            margin-bottom: 20px;
        }
        a.icon-left{
            margin: 0 0 0px auto;
            display: flex;
            flex-direction: row;
            color: #A2A6BB;
            align-items: center;
            text-decoration: none;
            &:before{
                margin-right: 15px;
            }
        }
    }
}
.woocommerce-checkout {
    .express-one-page-checkout-main{
        .cart_totals {
            div{
                border: none !important;
                margin-bottom: 15px !important;
            }
        }
    }
    .shipping-total{
        .radio{
            input{
                display: none;
                &:checked{
                    & + label{
                        &:before{
                            background: $black;
                        }
                    }
                }
            }
            label{
                display: flex !important;
                flex-direction: row;
                align-items: center;
                width: 100%;
                color: $white;
                flex-wrap: wrap;
                &:before{
                    top: -1px;
                    content:'';
                    position: relative;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background:$white;
                    box-shadow: inset 0 0 0 4px $white, 0 0 0 2px #A2A6BB; 
                    margin-right: 10px;
                }
            }
        }
    }
    .express-one-page-checkout-main {
        h3.border_html{
            padding: 0 1em !important;
            margin: 0 !important;
        }
    }
    .select2-container {
        padding: 10px 0 !important;
        span.select2-selection.select2-selection--single{
            height: 40px !important;
            border-color:$blue;
            border-radius: 10px;
            padding: 0 !important;
            .select2-selection__rendered{
                line-height: 40px !important;
                padding: 0 15px;
            }
            .select2-selection__arrow {
                height:38px !important;
                top: 10px;
                b{
                    border-color:#C4C5DC transparent transparent;
                    border-style: solid;
                    border-width: 6px 5px 0;
                    margin-left: -8px;
                }
            }
        }
        .select2-dropdown{
            background: #494C5B;
            border-radius: 5px;
            position: relative;
            .select2-search--dropdown{
                padding: 15px;
            }
            input{
                padding: 0 15px;
                height: 40px;
                border-radius: 10px;
                border: 1px solid $blue;
            }
            &:before{
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 2px;
                position: absolute;
                background: #494C5B;
                top: 0;
                right: 10px;
                transform: rotate(-45deg) translateY(-50%);
                z-index: -1;
            }
            li{
                color: $white;
                &[data-selected="true"] {
                    background-color: $blue;
                    color: $black;
                }
                &:hover{
                    background: $blue;
                    color: $black;
                }
            }
        }
    }
    .grid-col-checkout{
        .checkbox {
            color: $white;
            display: inline-flex !important;
            flex-direction: row;
            text-align: left;
            input{
                display: none !important;
            }
        }
        .input-text {
            height: 40px !important;
            border: 1px solid $blue;
            border-radius: 10px;
            padding: 0 15px;

        }
        .woocommerce-billing-fields__field-wrapper{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .form-row{
            margin-bottom: 15px !important;
            label{
                margin-bottom: 5px !important;
                display: block;
            }
        }
        #billing_address_1_field,
        #billing_address_2_field,
        #billing_company_field,
        #billing_country_field{
            width: 100%;
        }
        #billing_email_field,
        #billing_phone_field,
        #billing_last_name_field,
        #billing_first_name_field,
        #billing_postcode_field,
        #billing_city_field{
            width: calc((100% - 15px) / 2);
        }
        .border_html{
            background-color: transparent !important;
            border: none !important;
            font-family: $Roboto;
        }
        &.grid-col-1{
            padding: 0 20px;
            & > h3.border_html{
                padding: 0 !important;
            }
        }
        &.grid-col-3{
            background: $red;
            width: 385px;
            height: 100vh;
            padding-top: 220px;
            .woocommerce-privacy-policy-text{
                p{
                    color: $white;
                    .woocommerce-privacy-policy-link{
                        color: $blue;
                        transition: all 0.3s ease;
                        &:hover{
                            color: $dark-blue;
                        }
                    }
                }
            }
            #payment{
                #place_order{
                    width: auto;
                    padding:0 30px;
                    height: 50px;
                    margin-top: 20px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    border-radius: 20px;
                    text-decoration: none;
                    color: $black !important;
                    font-size: 16px;
                    font-family: $Roboto;
                    background: $white !important;
                    box-shadow: 8px 12px 40px rgba(77, 81, 158, 0.17) !important;
                    pointer-events: auto;
                    transition: all 0.3s ease;
                    float: left;
                    &:hover{
                        background: $dark-blue !important;
                        color: $white !important;
                    }
                }
            }
            .input-checkbox{
                &.woocommerce-validated{
                    .checkbox{
                         &:before{
                            background: $black;
                        }
                    }
                }
                &.woocommerce-invalid{
                    .checkbox{
                        color: $white;
                    }
                }
                .checkbox {
                    position: relative;
                    padding-left: 25px;
                    cursor: pointer;
                    &:before{
                        content:'';
                        top: 3px;
                        left: 0;
                        position: absolute;
                        width: 18px;
                        height: 18px;
                        border-radius: 2px;
                        background:$white;
                        box-shadow: inset 0 0 0 4px $white, 0 0 0 2px #A2A6BB; 
                        margin-right: 10px;
                    }
                }
            }
            #payment{
                background: transparent;
            }
            .wc_payment_method{
                display: flex !important;
                flex-direction: column;
                align-items: center;
                .about_paypal{
                    display: block;
                    color: $white;
                    width: 100%;
                    line-height: 1.2 !important;
                    margin-top: 10px;
                }
                input{
                    display: none;
                    &:checked{
                        & + label{
                            &:before{
                                background: $black;
                            }
                        }
                    }
                }
                label{
                    display: flex !important;
                    flex-direction: row;
                    align-items: center;
                    width: 100%;
                    color: $white;
                    flex-wrap: wrap;
                    &:before{
                        top: -1px;
                        content:'';
                        position: relative;
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        background:$white;
                        box-shadow: inset 0 0 0 4px $white, 0 0 0 2px #A2A6BB; 
                        margin-right: 10px;
                    }
                }
                .payment_box{
                    width: 100%;
                    position: static;
                    background-color: transparent !important;
                    color: $white !important;
                    padding: 0 !important;
                    &:before{
                        display: none !important;
                    }
                }
            }
        }
        &.grid-col-1,
        &.grid-col-2{
            h3.border_html{
                color: $black !important;
                font-family: $Roboto;
                padding-left: 20px !important;
                padding-right: 20px !important;
                margin-bottom: 10px !important; 
            }
        }
        &.grid-col-1{
            width: 385px;
        }
        &.grid-col-2{
            max-height: calc(100vh - 170px);
            overflow: auto;
            padding-bottom: 50px;
            #shipping_method li{
                position: relative;
                margin-bottom: 15px;
                input{
                    display: none;
                    &:checked{
                        & + label{
                            &:before{
                                background: $black;
                            }
                        }
                    }
                }
                label{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    cursor: pointer;
                    span{
                        margin: 0 0 0 auto;
                    }
                    &:before{
                        top: -1px;
                        content:'';
                        position: relative;
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        background:$white;
                        box-shadow: inset 0 0 0 4px $white, 0 0 0 2px #A2A6BB; 
                        margin-right: 10px;
                    }
                }
            }
            width: calc(100% - 385px);
            background: transparent !important;
            .order-total{
                padding: 20px 0 !important;
                border-color: $blue;
            }
            .right-corner{
                #shipping_method{
                    li{
                        text-align: left !important
                    }
                }
            }
            .cart_totals{
                margin-top: 20px;
                .shipping-total{
                    padding: 10px 0;
                     border-color: $blue;
                }
                .cart-subtotal{
                    padding-bottom: 10px;
                     border-color: $blue;
                }
                .shipping-total{
                    width: 100%;
                }
            }
            #order_review_table{
                padding: 0 20px; 
            }
            .amount{
                font-family: $Roboto;
                font-weight: 400;
                font-size: 16px;
                color: $dark-blue;
                display: inline-flex;
                align-items: center;
                flex-direction: row;
                flex-wrap: wrap;
                position: relative;
                margin-left: 40px;
                bdi{
                    color: $dark-blue;
                    font-size: 16px;
                    span{
                        color: $dark-blue;
                        font-size: 16px;
                    }
                }
                span{
                    margin-right: 25px;
                    font-size: 15px;
                    color: #B2B2B3;
                    text-decoration: line-through;
                }
            }
            #order_review_table{
                th{
                    font-size: 16px;
                    padding-bottom: 10px !important;
                    border-color: $blue !important;
                }
                td{
                    padding: 0 !important;
                    vertical-align: middle;
                    border-color: $blue !important;
                }
                .more_details{
                    padding: 10px 0  !important;
                }
                
                th.removepro,
                td.removepro{ 
                    text-align: right !important;
                } 
                .thumb{
                    text-align: left !important;
                    a{
                        width: 90px;
                        height: 90px;
                        padding: 10px;
                        display: block;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            object-position: center;
                        } 
                    }
                }
            }
        }
    }
}
.checkout-three-column-layout{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.left-block-checkout{
    padding-top: 220px;
    width: calc(100% - 385px);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.select2-dropdown{
    background: #494C5B;
    position: relative;
    border-radius: 5px !important;
    li{
        &:first-of-type{
            
        }
    }
    
    .select2-search--dropdown{
        padding: 15px;
    }
    input{
        padding: 0 15px;
        height: 40px;
        border-radius: 10px;
        border: 1px solid $blue;
    }
    &:before{
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 2px;
        position: absolute;
        background: #494C5B;
        top: 0;
        right: 10px;
        transform: rotate(-45deg) translateY(-50%);
        z-index: -1;
    }
    li{
        color: $white;
        &[data-selected="true"] {
            background-color: $blue;
            color: $black;
        }
        &:hover{
            background: $blue;
            color: $black;
        }
    }
}