@media only screen and (max-width: 1919px) {
    
    .category-link {
        padding: 6.615vw 0 0 11.094vw;
    }
    header{
        padding: 3.385vw 4.219vw 0 2.708vw;
        .logo{
            img{
                width: 15.885vw;
            }
        }
    }
    .home-slider {
        margin-left: -13.39vw;
        width: calc(100% + 13.39vw);
        .slick-dots{
            right: 3.661vw;
        }
        .item{
            padding-right: 4.969vw;
            img{
                width: 40.365vw;
                height: 59.010vw;
                max-height:59.010vw;
                height: 100vh; 
                object-fit: contain;
                object-position: bottom;
            }
        }
        &:before{
            width: 22.292vw;
            left: 12.865vw;
        }
        .description {
            .button{
                margin-top: 4.427vw;
            }
            h2.title{
                font-size: 3.802vw;
            }
        }
        .description {
            width: 22.500vw;
            margin-bottom: 8.594vw;
        }
    }
    .event {
        padding: 14.896vw 0 0 7.292vw;
        .img{
            width: 14.063vw;
            height: 9.792vw;
            margin-right: 1.563vw;
            margin-top: 1.042vw;
            &:before{
                font-size: 4.479vw;
            }
        }
        .description {
            width: calc(100% - 14.063vw - 1.563vw);
            padding-right: 2.119vw;
            h1.title{
                font-size: 2.500vw;
                margin-bottom: 1.042vw;
            }
        }
    }
    .bio {
        .item {
            padding-right: 9.224vw;
            .description{
                max-width: 24.596vw;
            }
            .img {
                width: calc(100% - 32.308vw);
                margin-right: 7.556vw;
                img{
                    width: 63.438vw;
                }
                &:before{
                    left: 7.295vw;
                    height: calc(100vh - 17.718vw);
                }
                &:after{
                    bottom: -2.084vw;
                    font-size: 29.182vw;
                    letter-spacing:4.169vw;
                }
            }
        } 
    }
    .left-block{
        width: 10.109vw;
        &:before{
            font-size: 4.690vw;
        }
        img{
            width: 13.966vw;
        }
    }
    .products {
        .col{
            
            &:not(.col-auto){
                max-width: calc(100% - 10.109vw - 24px);
            }
        }
        .col-auto {
            & + .col:not(.col-auto) {
                .top-head {
                    padding-left: 15.990vw;
                    h1.title{
                        margin-right: 8.073vw;
                    }
                }
                .products-slider {
                    .item{
                        width: 22.251vw;
                    }
                }
            }
        }
        h1.title{
            margin-right: 2.604vw;
        }
        .top-head {
            padding-left: 24.479vw;
            padding-right: 4.167vw;
            margin-bottom: 4.063vw;
            margin-top: 6.510vw;
        }
        .item {
            margin: 0 0 0 8.750vw;
        }
    }
    .products-slider{
        .radio {
            label{
                margin-left: 5px;
            }
        }
        img {
            width: 100%;
            height: 22.240vw;
            padding: 2.813vw;
        }
        &:after{
            font-size: 29.182vw;
            bottom: 3.646vw;
            letter-spacing: 4.169vw;
        }
        .price {
            font-size: 22px;
            span{
                margin-right: 5px;
            }
        }
    }
    .single-product {
         .col-4{
            h1.title{
                margin-bottom: 3.127vw;
            }
            .price{
                margin-bottom: 3.387vw;
            }
            &:last-of-type {
                padding-right: 5.472vw;
            }
        }
        .product-description{
            padding-top: 6.514vw;
            margin: 0 4.429vw 0 auto;
            .radio-items {
                margin: 3.908vw 0 1.303vw;
            }
            .select,
            .input{
                margin-bottom: 3.127vw;
            }
            .slick-arrow{
                &.icon-left {
                    right: 0.261vw;
                }
                &.icon-right{
                    right: -4.429vw;
                }
            }
        }
        .product-slider-thumbnail {
            width: 8.859vw;
            .slick-list {
                padding: 0 2.084vw !important;
            }
            .item{
                height: 4.690vw;
                margin: 0.521vw 0;
                border-radius: 1.668vw;
            }
        }
       
        .product-slider{
            &:before{
                font-size: 29.182vw;
                letter-spacing: 4.169vw;
            }
            &:after{
                width: 22.303vw;
            }
            .item{
                margin: 0;
            }
            img{
                width: 32.517vw;
                height: 38.353vw;
            }
        }
        .col-4[id*="product"] {
          padding-left: 11.777vw;
        }
    }
    .img-contacts {
        padding-left: 7.295vw !important;
        img {
            max-width: 49.766vw !important;
            max-height: calc(100vh - 10.422vw);
        }
    }
    .description-contacts {
        max-width: 33.872vw;
        padding-right: 10.422vw !important;
        h1.title{
            margin-bottom: 2.084vw;
        }
        p{
            margin-bottom: 1.563vw;
        }
        h4.title{
            margin-bottom: 0.782vw;
        }
    }
    .woocommerce-checkout .grid-col-checkout.grid-col-3,
    .left-block-checkout {
        padding-top: 11.458vw;
    }
    .error404 {
        h1 {
            padding-left: 7.813vw;
            .icon-x {
                font-size: 7.969vw;
                margin: 0 5.729vw; 
            }
            .icon-four{
                font-size: 23.333vw;
            }
        }
        .description{
            width: 23.438vw;
        }
    }
    .description-contacts{
        padding-top: 15.625vw;
    }
}
@media only screen and (max-width: 1799px) {
    .products {
        .item {
            margin: 0 0 0 6.75vw;
        }
        
    }
    .products-slider {
        .select {
            .select2-container {
              width: 84px !important;
            }
        }
        .radio-items{
            width: calc(100% - 94px);
        }
    }
}
@media only screen and (max-width: 1679px) {
    .products {
        .col{
            &:not(.col-auto) {
                max-width: 100%;
                margin: 0 ;
            }
            & + .col{
                max-width: calc(100% - 10.109vw - 24px) !important;
                .products-slider {
                    .price-block,
                    .choice{
                        width: 100%;
                    }
                }
            }
        }
        .top-head{
            margin-bottom: 30px;
        }
    }
    .single-product {
        h1.title{
            margin-right: 0px;
        }
        .product-slider{
            &:after {
                width: 20.303vw;
            }
        }
    }
    .description-contacts{
        padding-top: 140px;
        padding-right: calc(4.219vw + 12px) !important;
        justify-content: center;
    }
    .img-contacts{
        padding-left: calc(4.219vw + 12px) !important;
    }
}
@media only screen and (max-width: 1449px) {
    .products {
        .item {
            margin: 0 35px;
            margin-bottom: 0px;
        }
    }
    .single-product {
        .product-slider-thumbnail{
            width: 170px;
            margin-left: -40px;
            .slick-list{
                padding: 0 40px !important; 
            }
            .item{
                margin: 10px 0;
                width: 90px;
                height: 90px;
                padding: 10px;
                border-radius: 32px;
            }
        }
        .col-4{
            &[id*="product"] {
                padding-left: 4.141vw;
            }
            a.icon-left {
                margin: 0 0 20px;
            }
        }
        .product-description{
            margin-right: 0;
            
            .radio-items {
                margin: 20px 0 1.303vw;
            }
            .slick-arrow{
                &.icon-right{
                    right: 0;
                }
                &.icon-left{
                    right: 65px;
                }
            }
            .input{
                justify-content: flex-start;
            }
            .input,
            .select{
                width: 100%;
                margin-bottom: 15px;
            }
        }
    }
    .woocommerce-cart{
        section {
            .col-8 {
                padding-right: 70px; 
            }
            .col-4{
                padding-right: 50px;
                padding-left: 35px;
            }
        }
    }
    .product-items {
        .product-item {
            .description {
                .quantity,
                .number{
                    margin-top: 20px;
                }
            }
            img {
                width: 140px;
                height: 140px;
            }
        }
    }
}
@media only screen and (max-width: 1279px) {
    .products-slider{
        .choice,
        .price-block{
            width: 100%;
        }
    }
    .single-product {
        .product-description {
            padding-top: 70px;
        }
        .col-4 {
            h1.title {
                font-size: 22px;
            }
        }
    }
    .error404 {
        .description {
            width: 100%;
            padding-right: 35px;
            a.icon-left{
                font-size: 14px;
            }
        }
    }
}
@media only screen and (max-height: 964px) {
    .event {
        padding: 23.485vh 0 0 6.51vw;
    }
    .category-link {
      padding: 13.174vh 0 0 11.094vw;
    }
    .home-slider {
        .description{
            margin-bottom: 15.625vh;
        }
    }
}
@media only screen and (max-height: 879px) {
    .event {
        padding: 20.485vh 0 0 6.51vw;
    }
    .category-link {
        padding: 8.174vh 0 0 11.094vw;
    }
    .products-slider {
        img {
            height: 24vw !important;
        }
    }
    .single-product{
        section {
            .row{
                padding-top: 120px;
            }
        }
    }
   
}
@media only screen and (max-height: 779px)  {
    .woocommerce-cart {
        .top-head{
            margin-bottom: 20px; 
        }
    }
    .category-link {
      padding: 5.174vh 0 0 11.094vw;
    }
    header{
        padding: 35px 4.219vw 0 2.708vw !important;
        .cart{
            padding-top: 35px !important;
            padding-bottom: 35px !important;
            .mini-cart-wrapper{
            }
        }
    }
    .products {
        .top-head {
            padding: 25px 35px 0;
            margin-bottom: 15px;
        }
    }
    .products-slider {
        img {
            height: 13vw !important;
            padding: 10px;
        }
    }
    .description-contacts {
        .button{
            .vc_btn3{
                margin-top: 0;
            }
        }
    }
    .product-items{
        max-height: calc(100vh - 350px);
    }
}
@media only screen and (max-height: 639px)  {
    header{
        .cart{
            padding-right: 105px;
            padding-left: 105px;
            .mini-cart-wrapper{
                height: calc(100% - 35px);
                overflow: auto;
                padding: 40px 30px;
            }
        }
    }
    .products-slider {
        h3.title{
            margin: 5px 0 0px;
        }
    }
    .product-description {
        p {
            font-size: 14px;
            line-height: 1.444;
        }
    }
    
    .description-contacts {
        .wpb_text_column {
            height: 220px;
            overflow: auto;
            margin-bottom: 30px !important;
        }
    }
    .woocommerce-cart {
        .top-head{
            margin-top: 100px;
        }
    }
    .product-items {
        max-height: calc(100vh - 300px);
    }
    .product-items {
        .product-item {
            position: relative;
            a.remove{
                position: absolute;
                top: 50%;
                right: 35px;
                transform: translateY(-50%);
                width: auto;
                height: auto;
            }
            .description {
                .amount,
                .price{
                    margin-left: 20px;
                }
            }
        }
    }
}
@media only screen and (max-height: 579px)  {
    .event {
        padding-top: 16.485vh ;
        .description {
            .link{
                font-size: 12px;
            }
        }
    }
    .category-link {
        padding-top: 3.174vh !important;
        .widgettitle{
            margin-bottom: 10px;
        }
        .menu {
            li {
              margin-bottom: 5px;
            }
        }
    }
    header{
        .search{
            h2.title{
                font-size: 34px;
            }
             .input {
                position: relative;
                margin: 5px 0 15px;
            }
        }
    }
    .single-product{
        .product-description {
            padding-top: 55px;
            .woocommerce-product-details__short-description {
                max-height: 85px;
            }
        }
        .product-slider-thumbnail {
            .item {
                margin: 5px 0;
            }
        }
        section{
             .row {
                padding-top: 80px;
            }
        }
    }
    
}
@media only screen and (max-height: 679px) and (min-width: 679px) and (max-width: 991px) {

    .products {
        .top-head {
            padding: 10px 35px 0;
        }
    }
    .products-slider {
        .price {
            font-size: 20px;
            line-height: 36px;
        }
    }
    .woocommerce-cart {
        section {
            .col-8 {
                margin: 90px 0 auto;
                .top-head{
                    margin-top: 0;
                }
            }
            .col-4{
                .delivery {
                    margin: 90px 0 auto;
                }
            }
        }
        .coupon,
        .discounts {
            margin-top: 30px;
        }
    }
    .product-items {
        max-height: calc(100vh - 230px);
    }
    .woocommerce-checkout {
        .left-block-checkout{
            padding-top: 0;
            margin-top: 100px;
            max-height: calc(100vh  - 100px);
            overflow: auto;
        }
        .grid-col-checkout{
            position: relative;
            &.grid-col-3{
                margin-top: 100px;
                height: calc(100vh - 100px);
                overflow: auto;
                padding-top: 0;
                &:before{
                    content: '';
                    position: fixed;
                    background: #942443;
                    top: 0px;
                    right: 0;
                    right: 0;
                    bottom: 0;
                    z-index: -1;
                    height: 100vh;
                    width: 310px;
                }
                background-color: transparent;
            }
        }
    }
}
@media only screen and (max-height: 579px) and (min-width: 679px) and (max-width: 991px) {
    .products-slider {
        .slick-dots{
            bottom: -10px;
        }
        img {
            height: 13vw !important;
        }
        .choice{
            width: 65%;
        }
        .price {
            font-size: 18px !important;
            span{
                font-size: 14px;
            }
        }
        .price-block{
            width: 35%;
        }
    }
    .products{
        .top-head{
            margin-bottom: 5px;
            h1.title {
                font-size: 18px;
            }
            a {
                margin: 0 0 25px auto;
            }
        }
    }
    .description-contacts {
        .wpb_text_column {
            height: 125px;
        }
    }
    .delivery{
        padding-top: 20px;
        h2.title{
            margin-bottom: 20px;
        }
         p:not(.price) {
            margin-bottom: 20px;
        }
    }
}
@media only screen and (max-height: 479px) and (min-width: 679px) and (max-width: 991px){
    .products {
        h1.title {
            font-size: 18px;
        }
        .item {
            margin: 0 15px;
        }
        .top-head{
            margin-bottom: 5px;
        }
    }
    .products-slider{
        img {
            height: 10vw !important;
        }
        h3.title {
            font-size: 16px;
        }
        .choice{
            min-height: 90px;
            width: calc(100% - 85px) !important;
        }
        .button{
            height: 36px;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            font-size: 14px !important;
        }
        .sale-budge{
            width: 50px;
            height: 22px;
            font-size: 10px;
            &:before{
                left: 5px;
            }
        }
        .price-block{
             width: 75px !important;
        }
        .price{
            line-height: 25px;
            span{
                width: 100%;
                display: block;
            }
            line-height: 30px;
        }
        .choice {
            min-height: 80px;
        }
        .select2-container {
            .select2-selection--single {
                height: 30px;
            }
            .select2-selection__rendered {
                line-height: 30px;
            }
            .select2-selection__arrow {
                height: 28px;
            }
        }
    }
    .single-product {
        .col-4{
            &:last-of-type{
                margin-bottom: auto;
            }
        }
        .col-4{
            &[id*="product"]{
                margin: 0 0 auto 0 ;
                & + .col-4{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }
        }
        .product-slider{
            width: calc(100% - 130px);
            img{
                width: 100%;
                height: 200px;
            }
        }
        .product-description {
            padding-top: 0px;
            .slick-arrow{
                display: none !important
            }
           .input,
            .select {
              margin-bottom: 5px;
            }
            .radio-items {
                margin: 5px 0 10px;
            }
        }
    }
    .img-contacts {
        img {
            max-height: calc(100vh - 11.422vw);
        }
    }
    
    .description-contacts {
        padding-top: 50px;
        h1.title {
            font-size: 22px;
            margin-bottom: 1.084vw;
        }
        .wpb_text_column {
            height: 88px;
            margin-bottom: 15px !important;
        }
        .soc{
            margin-bottom: 15px;
        }
    }
    .delivery {
        padding-top: 10px;
        h2.title{
            margin-bottom: 10px;
        }
        p {
            margin-top: 15px;
            margin-bottom: 10px !important;
            font-size: 12px;
        }
        .coupon{
            margin-top: 0;
        }
        p.price{
            padding-bottom: 5px;
            margin-bottom: 15px;
        }
    }
    .products-slider {
        img {
            height: 7vw !important;
            padding: 5px;
        }
        .select{
             .select2-container {
                width: 87px !important;
            }
        }
    }
    .products {
        .col-auto {
            & + .col:not(.col-auto) {
                .products-slider {
                    h3.title {
                      margin-top: 0px;
                      margin-bottom: 0px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-height: 449px)  {
    .category-link{
      padding-top: 10px !important;
        .menu {
            li {
                a{
                    font-size: 12px;
                }
            }
        }
    }
    header {
        .search{
            padding-top: 35px !important; 
            .search-result{
                max-height: calc(100% - 160px);
                overflow: auto;
            }
        }
    } 
}
@media only screen and (max-height: 399px)  {
    .category-link {
        .widgettitle {
            font-size: 16px;
            margin-bottom: 0;
        }
        .menu {
            li {
                margin-bottom: 3px;
            }
        }
    }
}
@media only screen and (max-width: 1579px) {
    .category-link {
        padding: 5.174vh 0 0 8.094vw;
    }
    .home-slider {
        margin-left: -7.39vw;
        width: calc(100% + 7.39vw);
    }
}
@media only screen and (max-width: 1440px) {
    .category-link {
      padding: 5.174vh 0 0 7vw;
    }
    
}
@media only screen and (max-width: 1199px) {
    .bio{
        .item {
            padding-right: 20px;
            .description {
                max-width: calc((100% - 30px) - 60vw);
            }
            .img {
                  width: calc(100% - 40vw);
                  margin-right: 30px;
            }
        }
    }
    .products-slider {
        img {
            width: 100%;
            height: 32.027vw;
        }
    }
    .description-contacts{
        max-width: 100%;
        padding-left: 15px !important;
        padding-top: 100px;
        margin-left: 0;
    }
    .woocommerce-cart {
        .coupon,
        .discounts{
            padding-left: 35px;
            input{
                &[type="text"]{
                    max-width: calc(100% - 235px);
                }
            }
        }
        .top-head{
            padding-left: 35px;
        }
        section {
            .col-8 {
                padding-right: 35px;
            }
        }
    }
    .product-items{
        padding-left: 35px;
    }
    .woocommerce-checkout {
        .grid-col-checkout.grid-col-3{
            width: 310px;
        }
        .grid-col-checkout.grid-col-1{
            width: 270px;
        }
        .grid-col-checkout {
            .form-row {
                margin-bottom: 10px !important;
                &.no-placeholder{
                    position: relative;
                    label{
                        position: absolute;
                        top: 50%;
                        left: 15px;
                        transform: translateY(-50%);
                        transition: all 0.3s ease;
                        pointer-events: none;
                    }
                    &.focus{
                        label{
                            top: 0;
                            font-size: 12px !important;
                        }
                    }
                }
                label{
                    margin-bottom: 0 !important;
                }
            }
            #billing_city_field,
            #billing_email_field,
            #billing_first_name_field,
            #billing_last_name_field,
            #billing_phone_field,
            #billing_postcode_field{
                width: 100%;
            }
        }
        .left-block-checkout{
            width: calc(100% - 310px);
        }
        .grid-col-checkout.grid-col-2{
            width: calc(100% - 270px);
            h3.border_html{
                padding: 0 !important;
            }
            #order_review_table{
                
                padding-left: 0 !important;
            }
        }
        .grid-col-checkout.grid-col-3 {
            woocommerce-privacy-policy-text{
                p{
                    font-size: 12px !important;
                }
            }
            .input-checkbox {
                display: flex;
                margin-bottom: 5px !important;
                .checkbox{
                    font-size: 12px !important;
                }
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    
    .woocommerce-checkout {
        .select2-container {
            .select2-dropdown {
                input{
                    height: 30px;
                }
            }
            span.select2-selection.select2-selection--single{
                height: 30px !important;
                .select2-selection__rendered{
                    line-height: 30px !important;
                }
                .select2-selection__arrow {
                    height:28px !important;
                }
            }
        }
        label, 
        span,
        p, 
        textarea, 
        input, 
        select {
            font-size: 12px !important;
            font-weight: normal;
        }
        .grid-col-checkout{
            &.grid-col-3 {
                #payment {
                    #place_order{
                        height: 40px;
                    }
                }
            }
            .input-text {
                height: 30px !important;
            }
            &.grid-col-2{
                #order_review_table {
                    th {
                        font-size: 14px;
                    }
                }
            }
            .select2-container {
                .select2-selection--single {
                    .select2-dropdown {
                        li{
                            font-size: 11px !important;
                        }
                    }
                    .select2-selection__rendered{
                        font-size: 11px !important;
                    }
                }
            }
            .form-row{
                label{
                    font-size: 11px !important;
                }
                input.input-text{
                    font-size: 11px !important;
                }
                &.no-placeholder {
                    &.focus{
                        label{
                            font-size: 10px !important;
                        }
                    }
                    label{
                        font-size: 11px !important;
                        span{
                            font-size: 11px !important;
                        }
                    }
                }
            }
            &.grid-col-1{
                width: 170px;
                padding-right: 0 !important; 
            }
            &.grid-col-2{
                width: calc(100% - 170px);
                #order_review_table{
                    padding-right: 0 !important;
                    .thumb{
                         a {
                            width: 70px;
                            height: 70px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    header{
        padding-top: 30px;
    }
    .category-link{
        padding-left: 15px;
    }
    
    .event{
        padding-left: 35px;
        padding-right: 35px;
        .description {
            padding-right: 0;
            .link{
                font-size: 14px;
                &:before{
                    font-size: 7px;
                    margin-right: 7px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .bio {
        .button{
            margin-top: 10px;
        }
        .arrows{
            margin-top: 35px;
            margin-bottom: 15px;
        }
        .item{
            padding-right: 0;
            
        }
        .description {
            .excerpt {
                max-height: 30vh;
            }
        }
    }
    .products-slider {
        img {
            height: 42.929vw;
        }
    }
    .product-items {
        .product-item {
            padding: 15px 30px 15px 0px;
            .description {
                .number,
                .quantity{
                    margin: 10px 0;
                    input{
                        height: 30px;
                        width: 50px;
                        font-size: 12px;
                    }
                    .decrement,
                    .increment{
                        width: 30px;
                        height: 30px;
                        &:before{
                            font-size: 8px;
                            border-radius: 6px;
                        }
                    }
                }
                .amount,
                .price{
                    margin-left: 0;
                    display: flex;
                }
            }
            a.remove{
                right: 15px;
            }
            .remove{
                font-size: 0;
                &:before{
                    margin-right: 0;
                }
            }
            img{
                padding: 10px;
            }
        }
    }
    .woocommerce-cart {
        .discounts,
        .coupon {
            display: flex;
            flex-direction: row;
            align-items: center;
            input{
                &[type="text"]{
                    max-width: calc(100% - 65px);
                    height: 50px;
                }
            }
            .button{
                font-size: 0;
                width: 50px;
                height: 50px;
                &:before{
                    font-size: 21px;
                }
            }
        }
        section {
            .top-head {
                h1.title {
                    font-size: 20px;
                }
            }
            .col-8{
                width: calc(100% - 340px);
            }
            .col-4{
                width: 340px;
            }
        }
    }
    .error404 {
        .description {
            h2.title {
                font-size: 23px;
                font-family: Roboto,sans-serif;
                font-weight: 400;
                margin-bottom: 20px;
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .vc_wp_custommenu{
        display: none;
    }
    header{
        .cart{
            padding: 35px;
            .cart-items {
                .cart-item {
                    img{
                        margin-right: 15px;
                    }
                    .description{
                        width: calc(100% - 148px);
                    }
                }
            }
        }
        .icon-search{
            margin-right: 0;
            top: -2px;
        }
        .icon-cart{
            margin-right: 0;
        }
        .language{
           top: 0; 
        }
        .search {
            padding: 35px;
        }
        .menu-block {
            max-width: 284px;
            .menu{
                margin-top: 0;
            }
            .soc{
                margin-top:0 ;
            }
            .sub-menu{
                margin-bottom: 47px;
                flex-direction: column;
                li{
                    margin-bottom: 20px;
                    text-align: center;
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
                a{
                    margin: 0 auto;
                }
            }
        }
        .icon-close{
            &:not(.remove){
                margin: auto auto 20px;
                position: static;
            }
        }
        .row{
            align-items: center;
        }
        .logo{
            width: auto;
            margin-top: 0;
            img{
                width: 118px;
                margin: 0 auto;
                display: table;
                transform: translateX(56px);
            }
        }
        .col-auto{
            &:nth-of-type(4){
                padding-left: 0;
            }
            &:last-of-type{
                order: -1;
            }
        }
    }
    .event {
        padding-top: 130px;
        .img{
            display: none;
        }
        .description{
            display: flex;
            flex-direction: row;
            align-items: center;
            h1.title{
                font-size: 18px;
                margin-bottom: 0;
            }
            .link{
                order: -1;
                font-size: 0;
                &:before{
                    width: 47px;
                    height: 47px;
                    font-size: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
    .home{
        .vc_col-sm-5{
            position: absolute;
            z-index: 1;
        }
    }
    .home-slider{
        margin-left: 0;
        width: 100%;
        pointer-events: none;
        &:before{
            right: 0;
            left: 22%;
            width: 100%;
            top: 254px;
            height: 30.378vh;
        }
        .slick-dots{
            right: inherit;
            left: 35px;
        }
        .item{ 
            padding-right: 0;
            align-items: flex-start;
            img{
                left: initial;
                right: 0;
                max-height: calc(100vh - 154px);
                transform: translateX(125px);
                width: auto;
                object-position: bottom left;
            }
            .description{
                width: auto;
                margin-bottom: 65px;
                transform:translateX(35px);
                h2.title{
                    font-size: 44px;
                }
            }
        }
    }
    .bio {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        
        .button {
            margin-top: 25px;
        }
        .item{
            align-items: flex-start;
            .description {
                max-width: 100%;
                padding-left: 35px;
                padding-right: 35px;
                padding-top: 60px;
                margin-top: 0;
                .excerpt {
                    max-height: calc(100vh - 500px);
                }
            }
            .img{
                height: auto;
                width: 100%;
                order: 1;
                margin-right: 0;
                position: absolute;
                right: 0;
                bottom: 0;
                &:after{
                    font-size: 322px;
                    line-height: 250px;
                }
                &:before{
                    height: 160px;
                    top: inherit;
                    left: 17.295vw;
                }
                img{
                    height: 306px;
                    width: auto;
                    transform: translateX(50px);
                    margin: 0 0 0 auto;
                }
            }
        }
    }
    .left-block{
        width: calc(100% - 80px);
        margin: auto 0 0 auto;
        height: 160px;
        a.icon-x{
            font-size: 67px;
            top: 50%;
            left: 30px;
            transform: translate(0,-50%);
        }
        img{
            height: 306px;
            width: auto;
            max-width: 100%;
            transform: translate(45px,0);
            object-fit: contain;
            object-position: right;
        }
    }
    .products-slider{
        padding-right: 0;
        .price-block{
            margin: 20px 0 ;
        }
        .choice{
            min-height: 161px
        }
        .price{
            line-height: 1.2;
            span{
                width: 100%;
                display: block;
                order: 1;
            }
        }
    }
    .products {
        .top-head{
            display: none;
        }
        .col{
            &.col-auto{
                width: 100%;
                order: 1;
                margin: auto 0 0;
            }
            & + .col{
                padding-top: 95px;
                max-width: 100% !important;
            }
        }
    }
    .single-product {
        .product-slider {
            .item{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
        .product-description{
            max-width: 100%;
            padding: 0px 4.141vw;
            .product-slider{
                width: 100%;
            }
            .woocommerce-product-details__short-description {
                max-height: 100px;
            }
            .slick-arrow{
                top: -70px;
            }
            .select{
                margin-bottom: 0 !important;
            }
        }
        .col-4{
            .woocommerce-product-details__short-description{
                margin-bottom: 0 !important;
            }
            &[id*="product"]{
                position: relative;
                padding-right: 150px;
                .price{
                    position: absolute;
                    right: 4.141vw;
                    top: 50%;
                    transform: translateY(-50%);
                    margin-bottom: 0;
                }
                & + .col-4{
                    display: flex;
                }
            }
        }
        section{
            .row{
                padding-top: 95px !important;
                margin: 0;
            }
        }
        .col-4{
            width: 100%;
        }
        .product-slider{
            .slick-track{
                display: flex !important;
                flex-wrap: wrap;
                .item{
                    height: auto;
                }
            }
            &:after{
                display: none;
            }
            &.slick-initialized{
                width: calc(100% - 170px);
                img{
                    height: 220px;
                    width: 220px;
                }
            }
            &:not(.slick-initialized){
                width: 100%;
            }
        }
        .product-slider-thumbnail {
           margin-left: -25px;
        }
    }
    .description-contacts{
        padding: 0 35px 35px !important;
        height: auto;
        .wpb_wrapper{
            position: relative;
        }
        h1.title{
            background: #fff;
            padding: 35px 35px 0;
            margin-bottom: -35px;
            transform: translate(-35px,calc(-100% - 15px) );
            font-size: 5.067vw;
            line-height: 1.2;
            position: absolute;
            width: 69.600vw;

        }
        .wpb_text_column{
            margin-top: 15px;
            margin-bottom: 15px !important;
            max-height: calc(100vh - 540px);
            overflow: auto;
        }
    }
    .img-contacts {
        padding-left: 35px !important;
        padding-top: 110px;
        .wpb_single_image{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .vc_figure{
            margin: 0 0 0 auto;
        }
        .vc_single_image-wrapper{
            height: 274px;
            width: 286px;
        }
        img{
            max-width: 100% !important;
            max-height: 100%;
        }
    }
    .product-items{
        padding-left: 0;
        max-height: calc(100vh - 530px);
        .product-item {
            border-left: 0;
            border-right: 0;
            border-top: 0;
            position: relative;
            &:last-of-type{
                border-bottom: none;
            }
            .description{
                width: calc(100% - 85px);
                .amount,
                .price{
                    width: auto;
                    display: inline-block;
                }
                .size,
                .color{
                    display: inline-flex;
                    margin-right: 15px;
                }
            }
            a.remove{
                right: 0;
                width: auto !important;
                height: auto !important;
                position: absolute;
            }
            img{
                width: 70px;
                height: 70px;
                padding: 0;
            }
        }
    }
    .delivery {
        padding: 15px 0px 30px;
        margin-top: 25px;
        width: 100%;
        
        h2.title{
            margin-bottom: 15px;
        }
        p{
            &:not(.price) {
                margin: 15px 0;
            }
            &.price{
                margin-top: 15px;
                margin-bottom: 15px;
                padding-bottom: 10px;
            }
        }
        .button{
            width: 100%;
            height: 40px;
        }
    }
    .woocommerce-checkout,
    .woocommerce-cart {
        .coupon,
        .discounts{
            padding-left: 0;
        }
        section {
            .top-head{
                padding-left: 0;
                padding-top: 90px;
                margin-top: 0;
                margin-bottom: 0;
                h1.title {
                    font-size: 24px;
                }
            }
            .col-8{
                width: 100%;
                padding: 0 35px 35px;
            }
            .col-4{
                margin: auto 0 0;
                width: 100%;
                height: auto;
            }
        }
        header{
            .burger-menu{
                span{
                    background: #000;
                }
            }
            .icon-cart,
            .icon-search{
                color: #000;
            }
            .language {
                &:after,
                &:before{
                    color: #000;

                }
                label {
                    border-color: #000;
                    &:before{
                        background: #000;
                    }
                }
            }
        }
    }
    
    .woocommerce-checkout {
        .grid-col-checkout{
            .input-text {
                height: 40px !important;
            }
            
            .form-row{
                input.input-text,
                label{
                    font-size: 14px !important;
                }
                &.no-placeholder {
                    label{
                        font-size: 14px !important;
                    }
                }
            }
            &.grid-col-1,
            &.grid-col-2{
                padding-top: 0;
            }
            &.grid-col-1,
            &.grid-col-2,
            &.grid-col-3{
                width: 100% !important;
                padding-left: 35px !important;
                padding-right: 35px !important;
                
            }
            &.grid-col-3{
                height: auto;
                padding-top: 30px;
                .input-checkbox {
                    margin-bottom: 15px !important;
                    .woocommerce-input-wrapper{
                        .checkbox {
                            font-size: 14px !important;
                        }
                    }
                }
                #payment {
                    div.form-row,
                    ul.payment_methods{
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                    }
                }
            }
        }
        .left-block-checkout{
            width: 100%;
        }
        .select2-container {
            .select2-dropdown {
                input{
                    height: 40px;
                }
            }
            span.select2-selection.select2-selection--single{
                height: 40px !important;
                .select2-selection__rendered{
                    line-height: 40px !important;
                    font-size: 14px !important;
                }
                .select2-selection__arrow {
                    height:38px !important;
                }
            }
        }
        .checkout-three-column-layout{
            overflow: auto;
            height: calc(100vh - 120px);
            margin-top: 120px;
            .left-block-checkout{
                padding-top: 0 !important;
            }
        }
        .select2-container {
            .select2-selection--single {
                .select2-dropdown {
                    li{
                        font-size: 14px !important;
                    }
                }
                .select2-selection__rendered{
                    font-size: 14px !important;
                }
            }
        }
    }
    .error404 {
        .col-8{
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 100px;
            height: calc(100vh - 100px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                padding-left: 0;
                &:before{
                    right: 50%;
                    top: 50%;
                }
            }
        }
        .col-4{
            margin-top: 100px;
            height: calc(100vh - 100px);
            max-width: 100%;
            position: relative;
            padding: 35px 35px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0,0,0,0.3);
                z-index: 0;
            }
            .description{
                position: relative;
                z-index: 1;
                h2.title{
                    color: #fff;
                }
                p{
                    color: #fff;
                }
                a{
                    color: #fff;
                }
            }
        }
    }
    body.home, 
    body.tax-product_cat {
        header {
            .logo{
                width: auto;
            }
        }
    }
    .single-product { 
        .col-4 {
            .price {
                font-size: 20px;
                flex-direction: column;
                &[data-percent] {
                    padding-left: 30px;
                    &:before {
                        width: 55px;
                        height: 25px;
                        font-size: 12px;
                    }
                    &:aftre{
                        top: -3px;
                        left: 3px;
                    }
                }
                span{
                    display: block;
                    margin-right: 0px;
                    font-size: 16px;
                }
            }
        }
    }
}
@media only screen and (max-height: 779px) and (max-width: 767px) {
    .event{
        padding-top: 16.603vh;
    }
    .home-slider{
        .slick-dots{
            display: none !important;
        }
        &:before{
            top: 32.606vh;
        }
        .item {
            img{
                max-height: calc(100vh - 19.668vh);
                transform: translateX(16.046vh);
            }
            .description{
                margin-bottom: 8.344vh;
            }
        }
    }
    .products-slider{
        
        h3.title{
            margin: 5px 0 5px;
        }
        img {
            height: 55vw !important;
        }
    } 
   
}
@media only screen and (max-height: 679px) and (max-width: 767px) {
    header{
        .cart{
            .mini-cart-wrapper{
                height: calc(100% - 90px);
                overflow: auto;
            }
        }
    }
}
@media only screen and (max-height: 489px)  {
    .home-slider, 
    .product-description{
        .slick-arrow{
            width: 40px;
            height: 40px;
            font-size: 12px;
        }
    }
    header{
        padding-top: 10px;
    }
    
}
@media only screen and (max-width: 579px) {
    header {
        .container-fluid{
            padding-left: 15px;
            padding-right: 15px;
        }
        .logo {
            img{
                transform: translateX(0);
            }
        }
        .cart {
            padding: 35px 0px;
            .icon-close{
                margin-top: 0;
            }
            .mini-cart-wrapper{
                padding-top: 0;
            }
        }
    }
    .event{
        padding-left: 15px;
        padding-right: 15px;
    }
    .bio {
        .item {
            .description{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .home-slider {
        .slick-dots{
            left: 15px;
        }
        .item{
            .description{
                width: calc(100% - 30px) !important;
                margin-left: auto;
                margin-right: auto;
                transform: translateX(0px);
            }
        }
    }
    .products {
        .top-head {
            padding: 55px 35px 0;
        }
        
        .products-slider{
            .item{
                position: relative;
                transition: all 0.3s ease;
                &:not(.slick-current){
                     &:before{
                        content: '';
                        position: absolute;
                         bottom: 0;
                         left: 0;
                         right: 0;
                         top: 0;
                         background: rgba(255,255,255,0.8);
                         z-index: 1;
                    }
                }
            }
        }
        .col-auto{
            & + .col:not(.col-auto) {
                .products-slider {
                    margin-top: 0;
                    img {
                        height: 58vw !important;
                    }
                }
            }
        }
    }
   
    .products-slider { 
        margin-left: 35px;
        margin-top: 95px;
        &:after{
            display: none;
        }
        .slick-list{
            padding: 0 0 35px 0 !important;
        }
        .item{
            width: calc(100vw - 105px) !important;
            margin: 0 0 0 35px;
        }    
        img {
            height: 90vw !important;
        }
    }
    .single-product {
        .product-slider{
            &.slick-initialized {
                img {
                    height: 100% !important;
                    width: 100% !important; 
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
    }
}

@media only screen and (max-width: 479px) {
    header {
        padding-top: 15px !important;
        .cart {
            .buttons {
                .button{
                    width: 140px;
                    font-size: 14px;
                }
            }
            .mini-cart-wrapper{
                padding-left: 15px;
                padding-right: 15px;
            }
            .cart-items {
                .cart-item {
                    padding-right: 30px;
                    padding-bottom: 15px;
                    img{
                        width: 91px;
                        height: 91px;
                    }
                    .description{
                         width: calc(100% - 106px);
                    }
                }
            }
        }
    }
    .products {
        .top-head {
            padding: 55px 15px 0;
        }
        h1.title{
            margin-right: 15px;
        }
    }
    .products-slider {
        margin-left: 15px;
    }
    .bio {
        .button{
            padding: 0px 15px;
            font-size: 14px;
            &:before{
                margin-left: 15px;
            }
        }
    }
    .single-product {
        .product-description {
            padding-bottom: 20px;
            .woocommerce-product-details__short-description {
              max-height: 80px;
            }
            .radio-items{
                margin-bottom: 10px;
            }
            .slick-arrow{
                display: none !important;
            }
        }
        .product-slider-thumbnail{
            .item {
                margin: 5px 0;
            }
        }
        .product-slider {
            width: calc(100% - 150px);
            img{
                width: 100%;
                height: 190px;
            }
        }
        section {
            .row {
                 padding-top: 70px !important;
            }
        }
        .col-4{
            h1.title {
                font-size: 18px;
            }
            &[id*="product"] {
                padding-right: 115px;
            }
            .price{
                font-size: 24px;
            }
        }
    }
    .woocommerce-cart {
        section {
            .top-head{
                padding-top: 75px;
                h1.title{
                    font-size: 20px;
                }
                a.icon-left{
                    font-size: 14px;
                }
            }
        }
    }
    .woocommerce-checkout {
        .grid-col-checkout{
            &.grid-col-1,
            &.grid-col-2,
            &.grid-col-3{
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
        }
    }
    .woocommerce-checkout {
        .checkout-three-column-layout {
          height: calc(100vh - 95px);
          margin-top: 95px;
        }
    }
}
@media only screen and (max-width: 389px) {
    header {
        .col-auto{
            &:nth-of-type(2){
                padding: 0;
            }
        }
        .logo {
            img {
                width:95px;
            }
        }
    }
}
@media only screen and (max-width: 359px) {
    .woocommerce-checkout {
        .checkout-three-column-layout {
          height: calc(100vh - 75px);
          margin-top: 75px;
        }
    }
    .woocommerce-cart {
        section{
            .top-head {
                h1.title {
                  font-size: 18px;
                }
            }
        }
    }
    header{
        .logo {
            img {
                width: 65px;
            }
        }
    }
}
