@media only screen and (max-width: 1919px) {
    .category-link {
        padding: 6.615vw 0 0 11.094vw;
    }
    header{
        padding: 3.385vw 4.219vw 0 2.708vw;
        .logo{
            img{
                width: 15.885vw;
            }
        }
    }
    .home-slider {
        margin-left: -13.39vw;
        width: calc(100% + 13.39vw);
        .slick-dots{
            right: 3.661vw;
        }
        .item{
            padding-right: 4.969vw;
            img{
                width: 40.365vw;
                height: 59.010vw;
                max-height:59.010vw;
                height: 100vh; 
                object-fit: contain;
                object-position: bottom;
            }
        }
        &:before{
            width: 22.292vw;
            left: 12.865vw;
        }
        .description {
            .button{
                margin-top: 4.427vw;
            }
            h2.title{
                font-size: 3.802vw;
            }
        }
        .description {
            width: 22.500vw;
            margin-bottom: 8.594vw;
        }
    }
    .event {
        padding: 14.896vw 0 0 7.292vw;
        .img{
            width: 14.063vw;
            height: 9.792vw;
            margin-right: 1.563vw;
            margin-top: 1.042vw;
            &:before{
                font-size: 4.479vw;
            }
        }
        .description {
            width: calc(100% - 14.063vw - 1.563vw);
            padding-right: 2.119vw;
            h1.title{
                font-size: 2.500vw;
                margin-bottom: 1.042vw;
            }
        }
    }
    .bio {
        .item {
            padding-right: 9.224vw;
            .description{
                max-width: 24.596vw;
            }
            .img {
                width: calc(100% - 32.308vw);
                margin-right: 7.556vw;
                img{
                    width: 63.438vw;
                }
                &:before{
                    left: 7.295vw;
                    height: calc(100vh - 17.718vw);
                }
                &:after{
                    bottom: -2.084vw;
                    font-size: 29.182vw;
                    letter-spacing:4.169vw;
                }
            }
        } 
    }
    .left-block{
        width: 10.109vw;
        &:before{
            font-size: 4.690vw;
        }
        img{
            width: 13.966vw;
        }
        a.icon-x{
            font-size: 3.908vw;
        }
    }
    .products {
        .col{
            
            &:not(.col-auto){
                max-width: calc(100% - 10.109vw - 24px);
            }
        }
        .col-auto {
            & + .col:not(.col-auto) {
                .top-head {
                    padding-left: 15.990vw;
                    h1.title{
                        margin-right: 8.073vw;
                    }
                }
                .products-slider {
                    .item{
                        width: 22.251vw;
                    }
                }
            }
        }
        h1.title{
            margin-right: 2.604vw;
        }
        .top-head {
            padding-left: 24.479vw;
            padding-right: 4.167vw;
            margin-bottom: 4.063vw;
            margin-top: 6.510vw;
        }
        .item {
            margin: 0 0 0 8.750vw;
        }
    }
    .products-slider{
        .radio {
            label{
                margin-left: 5px;
            }
        }
        img {
            width: 100%;
            height: 22.240vw;
            padding: 2.813vw;
        }
        &:after{
            font-size: 29.182vw;
            bottom: 3.646vw;
            letter-spacing: 4.169vw;
        }
        .price {
            font-size: 22px;
            span{
                margin-right: 5px;
            }
        }
    }
    .single-product {
         .col-4{
             a.icon-left {
                 margin: 0 0 4.735vh;
             }
            h1.title{
                margin-bottom: 5.682vh;
            }
            .price{
                margin-bottom: 2.367vh;
            }
            &:last-of-type {
                padding-right: 4.219vw;
            }
        }
        .product-description{
            padding-top: 11.837vh;
            margin: 0 4.429vw 0 auto;
            .radio-items {
                margin: 7.102vh 0 2.367vh;
            }
            .select,
            .input{
                margin-bottom: 5.682vh;
            }
            .slick-arrow{
                &.icon-left {
                    right: 0.261vw;
                }
                &.icon-right{
                    right: -4.429vw;
                }
            }
        }
        .product-slider-thumbnail {
            width: 8.859vw;
            .slick-list {
                padding:0 2.084vw !important;
            }
            .item{
                height: 4.690vw;
                margin: 0.521vw 0;
                border-radius: 1.668vw;
            }
        }
       
        .product-slider{
            &:before{
                font-size: 29.182vw;
                letter-spacing: 4.169vw;
            }
            &:after{
                width: 22.303vw;
            }
            .item{
                margin: 0;
            }
            img{
                width: 32.517vw;
                height: 69.697vh;
            }
        }
        .col-4[id*="product"] {
          padding-left: 11.777vw;
        }
    }
    .img-contacts {
        padding-left: 7.295vw !important;
        img {
            max-width: 49.766vw !important;
            max-height: calc(100vh - 10.422vw);
        }
    }
    .description-contacts {
        max-width: 33.872vw;
        padding-right: 10.422vw !important;
        h1.title{
            margin-bottom: 2.084vw;
        }
        p{
            margin-bottom: 1.563vw;
        }
        h4.title{
            margin-bottom: 0.782vw;
        }
    }
    .woocommerce-checkout .grid-col-checkout.grid-col-3,
    .left-block-checkout {
        padding-top: 11.458vw;
    }
    .error404 {
        h1 {
            padding-left: 7.813vw;
            .icon-x {
                font-size: 7.969vw;
                margin: 0 5.729vw; 
            }
            .icon-four{
                font-size: 23.333vw;
            }
        }
        .description{
            width: 23.438vw;
        }
    }
    .description-contacts{
        padding-top: 15.625vw;
    }
    .left-block {
        img {
            transform: translate(2.083vw,44%);
        }
    }
    .product-slider-thumbnail{
        margin-left: -2.084vw;
    }
    .woocommerce-cart {
        .top-head{
            margin-bottom: 4.647vh;
            margin-top: 15.799vh;
        }
        .top-head {
            h1.title{
                font-size: 1.771vw;
            }
        }
    }
    .product-items {
        max-height: calc(100vh - 20.446vh - 225px);
    }
    
}
@media only screen and (max-width: 1799px) {
    .products {
        .item {
            margin: 0 0 0 6.75vw;
        }
        
    }
    .products-slider {
        .select {
            .select2-container {
              width: 110px !important;
            }
        }
        .radio-items{
            width: calc(100% - 124px);
        }
    }
}
@media only screen and (max-width: 1679px) {
    .products-slider {
        .select {
            .select2-container {
              width: 140px !important;
            }
        }
        .radio-items{
            width: calc(100% - 154px);
        }
    }
    .products {
        .col{
            & + .col{
                max-width: calc(100% - 10.109vw - 49px) !important;
                .products-slider {
                    .slick-list{
                        padding-right: 50px !important;
                    }
                    .price-block,
                    .choice{
                        width: 100%;
                    }
                }
            }
        }
        .top-head{
            margin-bottom: 30px;
        }
    }
    .single-product {
        h1.title{
            margin-right: 0px;
        }
        .product-slider{
            &:after {
                left: 43.8vw;
            }
        }
    }
    .description-contacts{
        padding-top: 140px;
        padding-right: calc(4.219vw + 12px) !important;
        justify-content: center;
    }
    .img-contacts{
        padding-left: calc(4.219vw + 12px) !important;
    }
    .products-slider {
        .select {
            .select2-container {
                width: 100px !important;
            }
        }
        .radio-items {
            width: calc(100% - 110px);
        }
    }
}
@media only screen and (max-width: 1579px) {
    .category-link {
        padding: 5.174vh 0 0 8.094vw;
    }
    .home-slider {
        margin-left: -7.39vw;
        width: calc(100% + 7.39vw);
    }
}
@media only screen and (max-width: 1449px) {
    .products-slider {
        .slick-list{
            padding-right: 0;
        }
    }
    .products {
        .col-auto {
            & + .col{
                .products-slider {
                    .slick-list {
                        padding-right: 0px !important;
                    }
                }
                &:not(.col-auto) {
                    .top-head{
                        padding-left: 35px;
                    }
                }
            }
        }
        .item {
            margin: 0 35px;
            margin-bottom: 0px;
        }
    }
    
    .woocommerce-cart{
        section {
            .col-8 {
                padding-right: 70px; 
            }
            .col-4{
                padding-right: 50px;
                padding-left: 35px;
            }
        }
    }
    .product-items {
        .product-item {
            .description {
                .quantity,
                .number{
                    margin-top: 20px;
                }
            }
            img {
                width: 140px;
                height: 140px;
            }
        }
    }
    .category-link {
        padding: 5.174vh 0 0 7vw;
    }
    .single-product {
        .product-description{
            .slick-arrow{
                transform: translateY(-25px);
                &.icon-left{
                    right: 65px;
                }
                &.icon-right{
                    right: 0;
                    
                }
            }
        }
        .product-description{
            margin-right: 0;
            padding-top: 6.837vh;
        }
    }
    .description-contacts{
        padding-right: 35px !important;
        h1.title {
            margin-bottom: 20px;
            font-size: 24px;
        }
    }
}
@media only screen and (max-width: 1279px) {
    .products-slider{
        .choice,
        .price-block{
            width: 100%;
        }
    }
    .single-product {
        .product-description {
            padding-top: 6.837vh;
            margin: 0 ;
        }
    }
    .error404 {
        .description {
            width: 100%;
            padding-right: 35px;
            a.icon-left{
                font-size: 14px;
            }
        }
    }
}
@media only screen and (max-width: 1199px) {
    body.home, 
    body.tax-product_cat header {
        .logo{
            width: 100% !important;
            display: inline-flex;
        }
    }
    header{
        padding: 15px 35px 0 35px !important;
        .icon-cart,
        .icon-search{
            margin-right: 0;
        }
        .col-auto{
            &:nth-of-type(3){
                padding-right: 0;
            }
        }
    }
    .event {
      padding: 115px 0 0 65px;
    }
    .category-link {
        padding: 5.174vh 0 0 35px;
        .menu{
            li {
                a{
                    font-size: 12px;
                    line-height: 1.2;
                }
            }
        }
    }
    .home-slider {
        &:before{
            transform: translateY(-115px);
        }
        .slick-track{
            padding-top: 115px;
        }
        img{
            transform: translateY(-115px);
        }
        .description{
            margin-bottom: auto;
        }
    }
    .bio{
        .item {
            padding-right: 20px;
            .description {
                max-width: calc((100% - 30px) - 60vw);
            }
            .img {
                  width: calc(100% - 40vw);
                  margin-right: 30px;
            }
        }
    }
    .products-slider {
        .select {
            .select2-container {
              width: 100px !important;
            }
        }
        .radio-items{
            width: calc(100% - 114px);
        }
        img {
            width: 100%;
            height: 23vw;
        }
    }
    .description-contacts{
        max-width: 100%;
        padding-left: 15px !important;
        padding-top: 100px;
        margin-left: 0;
    }
    .woocommerce-cart {
        .coupon,
        .discounts{
            padding-left: 35px;
            input{
                &[type="text"]{
                    max-width: calc(100% - 235px);
                }
            }
        }
        .top-head{
            padding-left: 35px;
        }
        section {
            .col-8 {
                padding-right: 35px;
            }
        }
    }
    .product-items{
        padding-left: 35px;
    }
    .woocommerce-checkout {
        .grid-col-checkout.grid-col-3{
            width: 310px;
        }
        .grid-col-checkout.grid-col-1{
            width: 270px;
        }
        .grid-col-checkout {
            .form-row {
                margin-bottom: 10px !important;
                &.no-placeholder{
                    position: relative;
                    label{
                        position: absolute;
                        top: 50%;
                        left: 15px;
                        transform: translateY(-50%);
                        transition: all 0.3s ease;
                        pointer-events: none;
                    }
                    &.focus{
                        label{
                            top: 0;
                            font-size: 12px !important;
                        }
                    }
                }
                label{
                    margin-bottom: 0 !important;
                }
            }
            #billing_city_field,
            #billing_email_field,
            #billing_first_name_field,
            #billing_last_name_field,
            #billing_phone_field,
            #billing_postcode_field{
                width: 100%;
            }
        }
        .left-block-checkout{
            width: calc(100% - 310px);
        }
        .grid-col-checkout.grid-col-2{
            width: calc(100% - 270px);
            h3.border_html{
                padding: 0 !important;
            }
            #order_review_table{
                padding-left: 0 !important;
            }
        }
        .grid-col-checkout.grid-col-3 {
            woocommerce-privacy-policy-text{
                p{
                    font-size: 12px !important;
                }
            }
            .input-checkbox {
                display: flex;
                margin-bottom: 5px !important;
                .checkbox{
                    font-size: 12px !important;
                }
            }
        }
    }
    .single-product {
        .product-slider-thumbnail {
            width: 170px;
            margin-left: -40px;
            .slick-list{
                padding: 0 40px !important;
            }
            .item{
                margin: 0 0 20px;
                height: 90px;
                border-radius: 32px;
                padding: 10px;
            }
        }
        .product-description {
            .input{
                input{
                    width: 100%;
                    margin: 10px 0;
                }
            }
            .select{
                margin-right: 30px;
                .select2-container{
                    width: 100% !important;
                }
            }
            .input,
            .select{
                flex-wrap: wrap;
                width: calc((100% - 30px) / 2);
                margin-bottom: 20px;
                & > label{
                    width: 100%;
                }
            }
            .radio-items {
                margin: 10px 0 2.367vh;
            }
        }
        .col-4{
            &[id*="product"] {
                padding-left: 35px;
            }
            &:last-of-type {
                padding-right: 35px;
            }
        }
    }
    .product-items {
      max-height: calc(100vh - 7.446vh - 225px);
    }
    .woocommerce-cart {
        .align-items-center{
            align-items: flex-start !important;
            .col-8{
                 padding-top: 90px;
            }
        }
        .top-head {
            margin-bottom: 2.647vh;
            margin-top: 4.799vh;
            h1.title {
                font-size: 24px;
            }
        }
    }
}
@media only screen and (min-width: 992px) {
    .woocommerce-cart, 
    .woocommerce-cart {
        .coupon,
        .discounts {
            .button{
                &:before{
                    font-size: 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .woocommerce-checkout {
        .select2-container {
            .select2-dropdown {
                input{
                    height: 30px;
                }
            }
            span.select2-selection.select2-selection--single{
                height: 30px !important;
                .select2-selection__rendered{
                    line-height: 30px !important;
                }
                .select2-selection__arrow {
                    height:28px !important;
                }
            }
        }
        label, 
        span,
        p, 
        textarea, 
        input, 
        select {
            font-size: 12px !important;
            font-weight: normal;
        }
        .grid-col-checkout{
            &.grid-col-3 {
                #payment {
                    #place_order{
                        height: 40px;
                    }
                }
            }
            .input-text {
                height: 30px !important;
            }
            &.grid-col-2{
                #order_review_table {
                    th {
                        font-size: 14px;
                    }
                }
            }
            .select2-container {
                .select2-selection--single {
                    .select2-dropdown {
                        li{
                            font-size: 11px !important;
                        }
                    }
                    .select2-selection__rendered{
                        font-size: 11px !important;
                    }
                }
            }
            .form-row{
                label{
                    font-size: 11px !important;
                }
                input.input-text{
                    font-size: 11px !important;
                }
                &.no-placeholder {
                    &.focus{
                        label{
                            font-size: 10px !important;
                        }
                    }
                    label{
                        font-size: 11px !important;
                        span{
                            font-size: 11px !important;
                        }
                    }
                }
            }
            &.grid-col-1{
                width: 170px;
                padding-right: 0 !important; 
            }
            &.grid-col-2{
                width: calc(100% - 170px);
                #order_review_table{
                    padding-right: 0 !important;
                    .thumb{
                         a {
                            width: 70px;
                            height: 70px;
                            padding: 10px;
                        }
                    }
                }
            }
        }
    }
    .event{
        padding: 80px 0 0 55px;
        .description {
            padding-right: 0;
            .link{
                font-size: 14px;
                &:before{
                    font-size: 7px;
                    margin-right: 7px;
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .home-slider {
        .item {
            img {
                width: 36.365vw;
            }
        }
    }
    .home-slider {
        .slick-arrow{
            width: 40px;
            height: 40px;
            font-size: 12px;
        }
        .description {
            .button {
                margin-top: 20px;
            }
        }
        img,
        &:before{
            transform: translateY(-55px);
        }
        .slick-track {
            padding-top: 55px;
        }
    }
    .bio {
        .button{
            margin-top: 10px;
        }
        .arrows{
            margin-top: 35px;
            margin-bottom: 15px;
        }
        .item{
            padding-right: 0;
            
        }
        .description {
            .excerpt {
                max-height: 30vh;
            }
        }
    }
    .products-slider {
        img {
            height: 42.929vw;
        }
    }
    .product-items {
        .product-item {
            padding: 15px 30px 15px 0px;
            .description {
                .number,
                .quantity{
                    margin: 10px 0;
                    input{
                        height: 30px;
                        width: 50px;
                        font-size: 12px;
                    }
                    .decrement,
                    .increment{
                        width: 30px;
                        height: 30px;
                        &:before{
                            font-size: 8px;
                            border-radius: 6px;
                        }
                    }
                }
                .amount,
                .price{
                    margin-left: 0;
                    display: flex;
                }
            }
            a.remove{
                right: 15px;
            }
            .remove{
                font-size: 0;
                &:before{
                    margin-right: 0;
                }
            }
            img{
                padding: 10px;
            }
        }
    }
    .woocommerce-cart {
        .discounts,
        .coupon {
            display: flex;
            flex-direction: row;
            align-items: center;
            input{
                &[type="text"]{
                    max-width: calc(100% - 65px);
                    height: 50px;
                }
            }
            .button{
                font-size: 0;
                width: 50px;
                height: 50px;
                &:before{
                    font-size: 21px;
                }
            }
        }
        section {
            .top-head {
                h1.title {
                    font-size: 20px;
                }
            }
            .col-8{
                width: calc(100% - 340px);
            }
            .col-4{
                width: 340px;
            }
        }
    }
    .error404 {
        .description {
            h2.title {
                font-size: 23px;
                font-family: Roboto,sans-serif;
                font-weight: 400;
                margin-bottom: 20px;
            }
        }
    }
    .products{
        .col-auto{
            & + .col:not(.col-auto) {
                .top-head {
                    padding-left: 0px;
                }
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    body.home, 
    body.tax-product_cat {
        header {
            .logo{
                width: 100%;
            }
        }
    }
    header{
        
        .col-auto{
            &:nth-of-type(3){
                padding-right: 15px;
            }
        }
        .cart{
            padding: 35px;
            .cart-items {
                .cart-item {
                    img{
                        margin-right: 15px;
                    }
                    .description{
                        width: calc(100% - 148px);
                    }
                }
            }
        }
        .icon-search{
            margin-right: 0;
            top: -2px;
        }
        .icon-cart{
            margin-right: 0;
        }
        .language{
           top: 0; 
        }
        .search {
            padding: 35px;
        }
        .menu-block {
            max-width: 284px;
            .menu{
                margin-top: 0;
            }
            .soc{
                margin-top:0 ;
            }
            .sub-menu{
                margin-bottom: 47px;
                flex-direction: column;
                li{
                    margin-bottom: 20px;
                    text-align: center;
                    &:last-of-type{
                        margin-bottom: 0;
                    }
                }
                a{
                    margin: 0 auto;
                }
            }
        }
        .icon-close{
            &:not(.remove){
                margin: auto auto 20px;
                position: static;
            }
        }
        .row{
            align-items: center;
        }
        .logo{
            width: 100%; 
            margin-top: 0;
            img{
                width: 118px;
                margin: 0 auto;
                display: table;
                transform: translateX(56px);
            }
        }
        .col-auto{
            &:nth-of-type(4){
                padding-left: 0;
            }
            &:last-of-type{
                order: -1;
            }
        }
    }
    .woocommerce-checkout,
    .woocommerce-cart {
        .coupon,
        .discounts{
            padding-left: 0;
        }
        section {
            .top-head{
                padding-left: 0;
                padding-top: 90px;
                margin-top: 0;
                margin-bottom: 0;
                h1.title {
                    font-size: 24px;
                }
            }
            .col-8{
                width: 100%;
                padding: 0 35px 35px;
            }
            .col-4{
                margin: auto 0 0;
                width: 100%;
                height: auto;
            }
        }
        header{
            .burger-menu{
                span{
                    background: #000;
                }
            }
            .icon-cart,
            .icon-search{
                color: #000;
            }
            .language {
                &:after,
                &:before{
                    color: #000;

                }
                label {
                    &:not([class]){
                        border-color: #000;
                        &:before{
                            background: #000;
                        }
                    }
                    &[class]{
                        color: #000;
                    }
                }
            }
        }
    }
    .error404 {
        .col-8{
            width: 100%;
            position: absolute;
            left: 0;
            right: 0;
            top: 100px;
            height: calc(100vh - 100px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            h1{
                padding-left: 0;
                &:before{
                    right: 50%;
                    top: 50%;
                }
            }
        }
        .col-4{
            margin-top: 100px;
            height: calc(100vh - 100px);
            max-width: 100%;
            position: relative;
            padding: 35px 35px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:before{
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: rgba(0,0,0,0.3);
                z-index: 0;
            }
            .description{
                position: relative;
                z-index: 1;
                h2.title{
                    color: #fff;
                }
                p{
                    color: #fff;
                }
                a{
                    color: #fff;
                }
            }
        }
    }
    .woocommerce-checkout {
        .grid-col-checkout{
            .input-text {
                height: 40px !important;
            }
            
            .form-row{
                input.input-text,
                label{
                    font-size: 14px !important;
                }
                &.no-placeholder {
                    label{
                        font-size: 14px !important;
                    }
                }
            }
            &.grid-col-1,
            &.grid-col-2{
                padding-top: 0;
                max-height: 100% !important; 
            }
            &.grid-col-1,
            &.grid-col-2,
            &.grid-col-3{
                width: 100% !important;
                padding-left: 35px !important;
                padding-right: 35px !important;
                
            }
            #cclw_payment_section{
                max-height: 100% !important;
            }
            &.grid-col-3{
                height: auto;
                padding-top: 30px !important;
                .input-checkbox {
                    margin-bottom: 15px !important;
                    .woocommerce-input-wrapper{
                        .checkbox {
                            font-size: 14px !important;
                        }
                    }
                }
                #payment {
                    div.form-row,
                    ul.payment_methods{
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                    }
                }
            }
        }
        .left-block-checkout{
            width: 100%;
        }
        .select2-container {
            .select2-dropdown {
                input{
                    height: 40px;
                }
            }
            span.select2-selection.select2-selection--single{
                height: 40px !important;
                .select2-selection__rendered{
                    line-height: 40px !important;
                    font-size: 14px !important;
                }
                .select2-selection__arrow {
                    height:38px !important;
                }
            }
        }
        .express-one-page-checkout-main {
            h3.border_html {
                padding: 0 0 !important;
            }
        }
        .checkout-three-column-layout{
            overflow: auto;
            height: calc(100vh - 80px);
            margin-top: 80px;
            .left-block-checkout{
                padding-top: 0 !important;
            }
        }
        .select2-container {
            .select2-selection--single {
                .select2-dropdown {
                    li{
                        font-size: 14px !important;
                    }
                }
                .select2-selection__rendered{
                    font-size: 14px !important;
                }
            }
        }
    }
}
@media only screen and (max-width: 579px) {
    header {
        .logo {
            img{
                transform: translateX(0px);
            }
        }
    }
    .woocommerce-checkout{
        .grid-col-checkout{
            &.grid-col-1, 
            &.grid-col-2,
            &.grid-col-3 {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
        }
    }
}
@media only screen and (max-width: 410px) {
    header {
        padding: 15px 15px 0 !important;
    }
    .event {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .home-slider {
        .item {
            .description {
                transform: translateX(15px) !important;
                width: calc(100% - 30px) !important;
            }
        }
    }
    .bio {
        .item {
            .description{
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
        }
    }
}
@media only screen and (max-width: 369px) {
    header {
        .logo {
            img {
                width: 100%;
            }
        }
    }
}