
@media (orientation: landscape) and (min-width: 1919px) and (max-height: 780px){
    .single-product {
        .align-items-center {
            padding-top: 16.494vh !important;
        }
    }
}
@media (orientation: landscape) and (max-height: 780px){
    .left-block-checkout{
        padding-top: 120px;
    } 
    .woocommerce-checkout {
        .grid-col-checkout.grid-col-3 {
            padding-top: 120px;
        }
    }
    .woocommerce-checkout{
        header {
            padding: 15px 4.219vw 0 2.708vw;
        }
        .grid-col-checkout.grid-col-2 {
            max-height: calc(100vh - 120px);
        }
        .woocommerce {
            label, 
            span, 
            p, 
            textarea, 
            input,
            select {
                font-size: 1.795vh !important;
            }
        }
    }
}
@media (orientation: landscape) and (max-height: 700px){
    .woocommerce-checkout {
        .grid-col-checkout{
            &.grid-col-1,
            &.grid-col-2{
                max-height: calc(100vh - 140px);
                overflow-y: auto;
                padding-bottom: 0;
            }
            #cclw_payment_section{
                max-height: calc(100vh - 160px);
                overflow-y: auto;
            }
        }
        .woocommerce{
            input,
            label, 
            p,
            select,
            span,
            textarea{
                font-size: 14px !important;
            }
        }
    }
    
    
}
@media (orientation: landscape) and (max-width: 991px) and (max-height: 870px){
    .products-slider {
        padding-bottom: 100px;
        img{
            height: calc(100vh - 360px);
        }
    }
    .products {
        .col-auto {
            & + .col:not(.col-auto){
                .products-slider {
                    img{
                        height: calc(100vh - 390px);
                    }
                }
            }
        }
    }
    .left-block-checkout{
        {
                padding-top: 90px;
        }
    }
    .woocommerce-checkout{
        .grid-col-checkout.grid-col-3 {
                padding-top: 90px;
        }
        
        .grid-col-checkout {
            &.grid-col-1,
            &.grid-col-2{
                max-height: calc(100vh - 110px);
            }
            #cclw_payment_section{
                max-height: calc(100vh - 130px);
            }
        }
    }
}
@media (orientation: landscape) and (max-width: 991px) and (max-height: 640px){
    .delivery {
        padding-top: 15px;
        h2.title{
            margin-bottom: 15px;
        }
        p{
            margin-top: 0;
            &:not(.price) {
                margin-bottom: 15px;
            }
            &.price{
                padding-bottom: 15px;
                margin-bottom: 20px;
            }
        }
    }
}
@media (orientation: landscape) and (max-width: 991px) and (max-height: 600px){
    .single-product {
        .col-4{
            height: 100%;
            padding-bottom: 40px;
            .price{
                font-size: 24px;
            }
        }
        .product-description {
            padding-top: 30px;
            p {
                font-size: 14px;
                line-height: 1.444;
            }
            .slick-arrow{
                width: 40px;
                height: 40px;
                font-size: 12px;
                &.icon-left{
                    right: 55px;
                }
            }
            .input,
            .select{
                margin-bottom: 0;
            }
        }
        .align-items-center {
            padding-top: 90px !important;
        }
    }
    .description-contacts {
        padding-bottom: 25px;
        h4.title {
            & + p{
                margin-bottom: 10px;
            }
        }
        p{
            font-size: 14px;
        }
        .soc{
            display: inline-flex;
            margin: 15px 0; 
        }
        .button {
            display: inline-flex;
            margin-bottom: 0;
            .vc_btn3{
                 margin-top: 0;
            }
        }
    }
    header {
        .cart {
            padding: 8.996vh 115px 30px 175px;
        }
    }
}
@media (orientation: landscape) and (max-width: 991px) and (max-height: 560px){
    .products-slider {
        padding-bottom: 100px;
        img{
            height: calc(100vh - 310px);
            padding: 10px;
        }
        .price{
            line-height: 36px;
        }
    }
    .products {
        .top-head {
            margin-bottom: 0px;
        }
        .col-auto {
            & + .col:not(.col-auto){
                .products-slider {
                    h3.title {
                        margin-top: 5px;
                    }
                    img{
                        height: calc(100vh - 340px);
                    }
                }
            }
        }
    }
}
@media (orientation: landscape) and (max-width: 991px) and (max-height: 510px){
    header{
        .menu-block {
            .sub-menu{
                margin-bottom: 15px;
                li {
                    margin-bottom: 15px !important;
                }
            }
            .menu {
                li {
                    a{
                        font-size: 34px !important; 
                    }
                }
            }
        }
        .search{
            padding: 20px 35px 20px;
            .icon-close:not(.remove) {
                 margin: 0 auto 10px;
            }
             .search-result {
                 max-height: calc(100vh - 170px);
            }
            .input{
                margin-bottom: 10px;
                margin-top: 10px;
            }
            input {
                margin: 0px 0 35px;
                 margin-bottom: 0px;
            }
        }
    }
    .description-contacts {
        padding-top: 90px;
        h1.title {
            margin-bottom: 10px;
            font-size: 20px;
        }
        p{
            font-size: 12px;
            line-height: 1.44;
        }
        .button {
            .vc_btn3 {
                height: 40px;
            }
        }
        .wpb_text_column{
            .wpb_wrapper{
                overflow-y: auto;
                max-height: calc(100vh - 200px);
                margin-bottom: 20px;
            }
        }
        .soc{
            margin: 10px 0;
            li{
                margin-right: 20px;
            }
        }
    }
    
}
@media (orientation: landscape) and (max-width: 991px) and (max-height: 480px){
    .single-product{
        .col-4{
            padding-bottom: 15px;
            &[id*="product"]{
                & + .col-4{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                }
            }
        }
        .product-description {
            padding-top: 0;
            display: flex;
            flex-direction: column;
            .slick-arrow {
                transform: translateY(-45px);
            }
            .woocommerce-product-details__short-description {
                height:100%;
                max-height: calc(100vh - 285px);
                margin-bottom: 10px;
            }
            .form{
                margin: auto 0 0 0;
            }
        }
        .product-slider{
            width: calc(100% - 130px);
            &:after {
                width: 12.303vw;
                left: 53.8vw;
            }
            .slick-track{
                display: flex;
                flex-direction: row;
                .item{
                    height: inherit;
                    margin: 10px 0;
                }
            }
            img {
                width: 100%;
                height: 100%;
                object-position: center;
            }
        }
    }
    .woocommerce-cart {
        section {
            .col-4{
                padding-top: 60px;
            }
        }
    }
    header {
        .cart {
            padding: 8.996vh 35px 30px 35px;
            .icon-close:not(.remove) {
                left: initial;
                right: 30px;
                position: absolute;
            }
            .cart-items {
                height: calc(100% - 175px);
            }
            .cart-item {
                img {
                    width: 100px;
                    height: 100px;
                }
            }
            h4.title{
                margin-top: 15px;
                margin-bottom: 15px;
            }
            h4.price{
                font-size: 16px;
                span {
                    font-size: 24px;
                }
            }
            .buttons{
                margin-top: 15px;
                .button {
                    height: 40px;
                }
            }
        }
    }
}
@media (orientation: landscape) and (max-width: 991px) and (max-height: 440px){
    header{
        .icon-close:not(.remove) {
             margin: auto auto 10px;
        }
        .menu-block {
            .sub-menu{
                margin-bottom: 10px;
                margin-top: 10px;
                li {
                    margin-bottom: 5px !important;
                }
            }
            .menu {
                li {
                    a{
                        font-size: 28px !important; 
                    }
                }
            }
        } 
    }
    .products {
        .item {
            margin: 0 15px;
        }
        .col-auto {
            & + .col:not(.col-auto) {
                .top-head{
                    margin-top: 60px;
                }
                .products-slider {
                    img {
                        height: calc(100vh - 220px);
                    }
                    h3.title{
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    .left-block {
        img {
            transform: translate(12px,44%);
        }
    }
    .products-slider {
        .button{
            font-size: 12px !important;
            height: 30px;
        }
        img {
            height: calc(100vh - 225px);
        }
        h3.title {
            font-size: 16px;
            margin: 0;
        }
        .price{
            font-size: 22px !important;
            line-height: 30px;
        }
        .select{
            .select2-container {
                width: 84px !important;
                .select2-selection--single {
                    height: 30px;
                }
                .select2-selection__rendered{
                    font-size: 12px;
                    line-height: 28px;
                }
                 .select2-selection__arrow {
                     height: 28px;
                     b{
                         border-width: 4px 3px 0;
                         margin-left: -5px;
                         margin-top: 0px;
                     }
                }
            }
        }
        .radio-items {
            width: calc(100% - 94px);
        }
    }
    .products {
        .col{
            & + .col{
                .products-slider{
                    .choice{
                        width: 63%;
                        min-height: 80px;
                    }
                    .price-block{
                        width: 37%;
                    }
                }
            }
        }
        .top-head {
            & > a {
                margin: 0 0 10px auto;
            }
        }
        h1.title {
            font-size: 18px;
        }
    }
    .woocommerce-cart {
        section{
            .col-4{
                padding-top: 40px;
            }
            
        }
        .align-items-center {
            .col-8 {
                padding-top: 70px;
            }
        }
    }
    .product-items {
        max-height: calc(100vh - 7.446vh - 175px);
        .product-item {
            padding: 10px 30px 10px 0;
            .description{
                .amount,
                .price{
                    display: inline-flex;
                }
            }
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
    .delivery {
        padding-top: 0;
        border: none;
        .button{
            height: 40px;
        }
        .radio {
            margin-bottom: 10px;
            label{
                font-size: 14px;
                &:before{
                    width: 13px;
                    height: 13px;
                }
            }
        }
        h2.title {
            font-size: 20px;
            margin-bottom: 10px;
        }
        p{
            &:not(.price){
                font-size: 12px;
                margin-bottom: 10px;
            }
            &.price {
                font-size: 18px;
                border: none;
                padding-bottom: 0;
            }
        }
    }
}
@media (orientation: landscape) and (max-width: 991px) and (max-height: 360px){
    .single-product{
        .align-items-center {
            padding-top: 60px !important;
        }
        .col-4 {
            h1.title {
                font-size: 22px;
            }
        }
        .select2-container {
            .select2-selection--single {
                height: 36px;
            }
            .select2-selection__arrow,
            .select2-selection__rendered {
                line-height: 34px;
            }
        }
        .product-description {
            .woocommerce-product-details__short-description {
                max-height: calc(100vh - 235px);
            }
            .slick-arrow{
                display: none !important;
            }
            .button {
                height: 36px;
            }
            .input {
                input{
                    &[type="number"] {
                        height: 36px;
                    }
                }
            }
        }
    }
}
@media (orientation: landscape) and (min-width: 768px) and (max-width: 991px) and (max-height: 510px){
    .category-link {
        padding: 10px 0 0 35px;
        .widgettitle{
            margin-bottom: 10px;
        }
        .menu {
            li {
                margin-bottom: 5px;
            }
        }
    }
}
@media (orientation: landscape) and (min-width: 768px) and (max-width: 991px)  and (max-height: 440px){
    header {
        .logo{
            margin-top: 0;
        }
    }
    .home-slider {
        &:before {
            width: 100px;
            left: 55px;
        }
        .description {
            width: calc(100% - 170px);
            margin-left: 30px;
            h2.title{
                font-size: 22px;
            }
        }
        .slick-dots {
            right: 15px;
        }
        .item {
            padding-right: 35px;
            img {
              width: 140px;
            }
        }
    }
    .home{
        .vc_col-sm-5{
            width: 55%;
        }
        .vc_col-sm-7{
            width: 45%;
        }
        .vc_col-sm-5{
            .wpb_wrapper{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
    .event {
        width: 170px;
        padding: 70px 0 0 35px;
        flex-direction: column;
        .description {
            width: 100%;
            h1.title{
                font-size: 24px;
            }
        }
        .img{
            margin-right: 0;
            margin-left: 25px;
            &:before {
                top: calc(50% - 5px);
            }
        }
        
    }
    .category-link {
        width: calc(100% - 170px);
        padding: 50px 0 0 15px;
        .widgettitle {
            font-size: 20px;
        }
    }
    .bio {
        .button {
            margin-top: 25px;
        }
        .icon-left,
        .icon-right{
            width: 30px;
            height: 30px;
            font-size: 14px;
        }
        .description {
            h1.title {
                font-size: 22px;
            }
        }
    }
}
@media (orientation: landscape) and (max-width: 767px){
    .left-block{
       display: none;
    }
    .products {
        .top-head{
            margin-top: 70px;
            padding: 0 35px !important;
        }
        .col-auto {
            & + .col:not(.col-auto){
                max-width: 100% !important;
                .top-head {
                    h1.title{
                        font-size: 18px;
                    }
                } 
                .products-slider{
                    .slick-list {
                        padding-left: 0px;
                    }
                    .price-block{
                        width: 100px;
                        .price{
                            font-size: 18px !important;
                        }
                    }
                    .button{
                        width: calc(100% - 100px);
                    }
                }
            }
        }
    }
    .single-product {
        .product-description {
            height: 100%;
            display: flex;
            flex-direction: column;
            form{
                margin:auto 0 0;
            }
            .woocommerce-product-details__short-description {
                max-height: calc(100vh - 335px);
            }
        }
        .align-items-center {
            padding-top: 70px !important;
            flex-direction: column;
            display: flex;
            flex-wrap:inherit;
        }
        .product-slider-thumbnail{
            margin-left: -18px;
        }
        .product-slider{
            width: calc(100% - 162px);
            &:after{
                display: none;
            }
            .slick-track{
                display: flex;
                flex-direction: row;
                .item{
                    height: inherit;
                }
            }
            img {
                  width: 100%;
                  height: 200px;
            }
        }
        .col-4{
            width: calc(100% / 2);
            height: calc(100% - 135px);
            padding-bottom: 15px;
            
            &:last-of-type{
                position: absolute;
                right: 0;
                top: 95px;
                height: calc(100vh - 95px);
            }
            a.icon-left {
                margin: 0 0 15px;
            }
            h1.title {
                font-size: 24px;
                margin-bottom: 15px;
            }
            &[id*="product"]{
                width: 50%;
                height: auto;
                padding-bottom: 0;
                & + .col-4{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                }
            }
        }
    }
    .description-contacts{
        width: calc(100% - 40%) !important;
    }
    .img-contacts{
        width: 40% !important;
    }
    .description-contacts {
        .button {
            .vc_btn3{
                width: 160px;
            }
        }
    }
    .description-contacts .wpb_text_column .wpb_wrapper {
          max-height: calc(100vh - 225px);
    }
    
}
@media (orientation: landscape) and (min-width: 580px) and (max-width: 767px){
    .home{
        .vc_col-sm-5{  
            position: absolute;
            z-index: 1;
        }
    }
    .event {
        padding: 70px 35px 0 35px;
        .img{
            display: none;
        }
        .description{
            display: flex;
            flex-direction: row;
            align-items: center;
            h1.title{
                font-size: 18px;
                margin-bottom: 0;
                margin-top: 0;
            }
            .link{
                order: -1;
                font-size: 0;
                &:before{
                    width: 30px;
                    height: 30px;
                    font-size: 8px;
                    margin-right: 10px;
                }
            }
        }
    }
    .home-slider{
        margin-left: 0;
        width: 100%;
        pointer-events: none;
        .slick-dots{
            display: none !important;
        }
        .item{ 
            padding-right: 0;
            align-items: flex-start;
            img{
                left: initial;
                right: 0;
                transform: translateX(60px);
                max-width: 50%;
                max-height: 100% ;
                width: 100%;
                object-position: bottom right;
            }
            .description{
                width: 50%;
                margin-bottom: 40px;
                transform:translate(35px, -40px);
                h2.title{
                    font-size: 28px;
                }
            }
        }
    }
    .category-link {
        padding-top: 20px;
        .widgettitle{
            margin-bottom: 10px;
        }
    }
    .single-product {
        .product-description{
            .woocommerce-product-details__short-description {
                max-height: calc(100vh - 335px);
            }
        }
    }
    .woocommerce-cart {
        section{
            .top-head{
                padding-bottom: 20px;
            }
        }
        .align-items-center {
            overflow-y:auto; 
            .col-8{
                padding-top: 0; 
            }
        }
    }
    .product-items {
        padding-left: 0;
        max-height: 100%;
        .product-item {
            border-right: 0;
            border-left: 0;
            border-top:0;
            .description {
                width: calc(100% - 95px);
                .amount{
                     display: inline-flex;
                }
                .size,
                .color{
                    display: inline-flex;
                    margin-right: 20px;
                }
                .number {
                    margin-right: 15px;
                }
            }
            img {
                width: 80px;
                height: 80px;
            }
        }
    }
    .delivery{
        width: 100%;
        padding-bottom: 20px;
    }
}
@media (orientation: landscape) and (min-width: 579px) and (max-width: 767px) and (max-height: 720px){
    .home-slider{
         &:before {
            right: 0;
            left: inherit;
            width: 100%;
            bottom: 190px;
            height: 216px;
            width: 305px;
            top: inherit;
        }
    }
    .category-link{
        .menu {
            li {
                margin-bottom: 5px;
            }
        }
    }
}
@media (orientation: landscape) and (min-width: 579px) and (max-width: 767px) and (max-height: 560px){
    .home-slider{
         &:before {
            bottom: 33.929vh;
            height: 38.571vh;
            width: 54.464vh;
        }
        .item {
            .description{
                transform: translate(35px,0px);
                margin-bottom: auto;
            }
        }
    }
    .category-link{
        display: none;
    }
    .single-product {
        .product-description {
            .woocommerce-product-details__short-description {
                max-height: calc(100vh - 290px);
            }
        }
    }
}
@media (orientation: landscape) and (min-width: 579px) and (max-width: 767px) and (max-height: 440px){
    .products {
        .col {
            & + .col {
                .products-slider {
                    .choice {
                        width: 100%;
                    }
                }
            }
        }
    }
    .products-slider {
        img {
            height: calc(100vh - 250px);
        }
        .button{
            height: 40px;
        }
        .price{
            line-height: 40px;
        }
    }
    .single-product {
        .product-slider{
            img {
                height: 160px;
            }
        }
        .product-slider-thumbnail{
            width: 140px;
            .item{
                height: 60px;
                border-radius: 16px;
            }
        }
    }
}
@media (orientation: landscape) and (min-width: 579px) and (max-width: 767px) and (max-height: 380px){
    .home-slider {
        .item {
            .description{
                transform: translate(35px, 0);
                margin-bottom: 0;
                margin-top: 40px;
            }
        }
    }
    .bio { 
        .icon-left,
        .icon-right{
            width: 30px;
            height: 30px;
            font-size: 14px;
        }
        .item {
            .description {
                max-width: calc((100% - 30px) - 45vw);
                .excerpt {
                    max-height: 20vh;
                }
                h1.title {
                    font-size: 22px;
                }
            }
            .img {
                width: calc(100% - 55vw);
                img {
                    transform: translate(-90px,15px);
                }
            }
        }
        .button {
            margin-top: 15px;
        }
    }
    .products-slider {
        img {
            height: calc(100vh - 240px);
        }
        .button{
            height: 30px;
        }
        .price{
            line-height: 30px;
        }
    }
    .single-product {
        .product-description {
            .woocommerce-product-details__short-description {
                  max-height: calc(100vh - 230px) !important;
                margin-bottom: 0;
            }
            .slick-arrow{
                display: none !important;
            }
        }
        .product-slider-thumbnail {
            .item {
                margin: 0 0 10px;
            }
        }
        .product-slider {
            img {
                height: 130px;
            }
        }
        .col-4 {
            p.meta{
                font-size: 10px;
                display: table;
            }
            .price {
                font-size: 18px;
                margin-bottom: 10px;
                display: inline-flex;
                float: right;
            }
            h1.title {
                font-size: 20px;
                margin-bottom: 10px;
                display: inline-flex;
            }
            &:last-of-type{
                top: 70px;
                height: calc(100vh - 70px);
            }
        }
    }
}
