@media (orientation: portrait) and (max-width: 991px){
    .products {
        .top-head {
            margin-top: 100px;
            padding-left: 35px;
            padding-right: 35px;
        }
    }
    .products-slider {
        img {
            height: 47vh;
        }
    }
    .single-product {
        .align-items-center{
            align-content: center;
            .col{
                margin: auto 0;
            }
        }
        .col-4 {
            h1.title {
                font-size: 24px;
            }
        }
    }
} 
@media (orientation: portrait) and (max-width: 767px){
    .home{
        .vc_col-sm-5{  
            position: absolute;
            z-index: 1;
        }
    }
    .event {
        padding: 70px 35px 0 35px;
        .img{
            display: none;
        }
        .description{
            display: flex;
            flex-direction: row;
            align-items: center;
            h1.title{
                font-size: 18px;
                margin-bottom: 0;
                margin-top: 0;
            }
            .link{
                order: -1;
                font-size: 0;
                &:before{
                    width: 30px;
                    height: 30px;
                    font-size: 8px;
                    margin-right: 10px;
                }
            }
        }
    }
    .home-slider{
        margin-left: 0;
        width: 100%;
        pointer-events: none;
        .item{
            height: calc(100vh - 55px);
        }
        &:before {
            right: 0;
            left: inherit;
            bottom: 24.772vw;
            height: 28.683vw;
            width: 39.765vw;
            top: inherit;
        }
        .slick-dots{
            display: none !important;
        }
        .item{ 
            padding-right: 0;
            align-items: flex-start;
            img{
                left: initial;
                right: 0;
                transform: translateX(60px);
                max-width: 50%;
                max-height: 100% ;
                width: 100%;
                object-position: bottom right;
            }
            .description{
                width: 50%;
                margin-bottom: 40px;
                transform:translate(35px, -40px);
                h2.title{
                    font-size: 28px;
                }
            }
        }
    }
    .bio {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
        .arrows {
            margin-top: 0px;
        }
        .button {
            margin-top: 25px;
        }
        .item{
            align-items: flex-start;
            .description {
                max-width: 100%;
                padding-left: 35px;
                padding-right: 35px;
                padding-top: 60px;
                margin-top: 0;
                .excerpt {
                    max-height: calc(100vh - 505px);
                }
            }
            .img{
                height: auto;
                width: 100%;
                order: 1;
                margin-right: 0;
                position: absolute;
                right: 0;
                bottom: 0;
                &:after{
                    font-size: 322px;
                    line-height: 250px;
                }
                &:before{
                    height: 160px;
                    top: inherit;
                    left: inherit;
                    width: 233px;
                }
                img{
                    height: 306px;
                    width: auto;
                    transform: translateX(50px);
                    margin: 0 0 0 auto;
                }
            }
        }
    } 
   .left-block{
        width:300px;
        margin: auto 0 0 auto;
        height: 160px;
        a.icon-x{
            font-size: 67px;
            top: 50%;
            left: 30px;
            transform: translate(0,-50%);
        }
        img{
            transform: translate(45px,0) !important;
            height: 306px;
            width: auto;
            max-width: 100%;
            object-fit: contain;
            object-position: right;
        }
    }
    .products{
        .col-auto{
            position: absolute;
            bottom: 0;
            right: 0;
            padding-left: 0;
            padding-right: 0;
        }
        .col {
            & + .col {
                max-width: 100% !important;
                padding-top: 80px;
                .top-head {
                    margin-top: 0 !important;
                    padding-left: 35px !important;
                }
                .products-slider {
                    .item {
                        img {
                            height: calc(100vh - 580px);
                        }
                    }
                    .slick-list {
                        padding-left: 0px !important;
                    }
                }
            }
        }
    }
    .products-slider{
        .item {
            img {
                height: calc(100vh - 490px);
            }
        }
    }
    .products-slider{
        .item{
             img {
                height: calc(100vh - 680px);
            }
        }
    }
    .single-product {
        .product-description {
            width: 100%;
            padding-top: 0;
            max-width: 100% ;
            display: flex;
            flex-direction: column;
            height: calc(100vh - 540px);
            form{
                margin: auto 0 0;
            }
            .slick-arrow{
                position: fixed;
                top: 70px;
                transform: translateY(0);
                &.icon-left{
                    right: 105px;
                }
                &.icon-right{
                    right: 35px;
                }
            }
        }
        .product-slider-thumbnail{
            margin-left: -18px;
        }
        .product-slider{
            width: calc(100% - 162px);
            &:after{
                display: none;
            }
            .slick-track{
                display: flex;
                flex-direction: row;
                .item{
                    height: inherit;
                }
            }
        }
        .align-items-center {
            padding-top: 70px !important;
            flex-direction: column;
            display: flex;
            flex-wrap:inherit;
        }
        .product-slider{
            .slick-track{
                display: flex;
                flex-direction: row;
            }
            .item{
                height: auto;
                img{
                    height: 100%;
                    max-height: 170px
                }
            }
            &:after{
                display: none;
            }
        }
        .col-4{
            width: 100%;
            a.icon-left {
                margin: 0 0 20px;
            }
            h1.title {
                margin-bottom: 30px;
            }
            &[id*="product"]{
                padding-right: 35px;
                & + .col-4{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                }
            }
            &:last-of-type {
                padding-left: 35px;
            }
        }
    }
    .description-contacts{
        padding: 0 35px 35px !important;
        height: auto;
        .wpb_wrapper{
            position: relative;
        }
        h1.title{
            background: #fff;
            padding: 35px 35px 0;
            margin-bottom: -35px;
            transform: translate(-35px,calc(-100% - 15px) );
            font-size: 5.067vw;
            line-height: 1.2;
            position: absolute;
            width: 69.600vw;

        }
        .wpb_text_column{
            margin-top: 15px;
            margin-bottom: 15px !important;
            max-height: calc(100vh - 540px);
            overflow: auto;
        }
    }
    .img-contacts {
        padding-left: 35px !important;
        padding-top: 110px;
        .wpb_single_image{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        }
        .vc_figure{
            margin: 0 0 0 auto;
        }
        .vc_single_image-wrapper{
            height: 274px;
            width: 286px;
        }
        img{
            max-width: 100% !important;
            max-height: 100%;
        }
    }
    header {
        .cart {
            .icon-close:not(.remove){
                top: 15px;
                left: initial;
                right: 30px;
                position: absolute;
            }
        }
    }
    .woocommerce-cart {
        section {
            .top-head{
                padding-bottom: 30px !important;
            }
        }
        .align-items-center {
            .col-8{
                padding-top: 0 !important;
            }
        }
    }
    .product-items{
        padding-left: 0;
    }
    .product-items {
        .product-item {
            .description{
                .color,
                .size{
                    margin-top: 10px;
                    margin-bottom: 10px;
                }
                .amount,
                .number{
                    display: inline-flex;
                }
                .number{
                    margin-right: 25px;
                    margin-top: 0;
                }
            }
        }
    }
    .woocommerce-cart {
        section {
            .top-head{
                padding-top: 80px;
            }
        }
    }
    .product-items {
        max-height: calc(100vh - 620px);
    }
    .delivery{
        padding-top: 15px;
        margin-top: 25px;
        padding-bottom: 20px;
        h2.title{
            margin-bottom: 15px;
        }
        .button{
            width: 100%;
        }
        p {
            margin-top: 10px;
            &.price{
                padding-bottom: 15px;
                margin-bottom: 20px;
            }
            &:not(.price) {
                margin-bottom: 15px;
            }
        }
    }
    .product-items {
        .product-item {
            padding: 10px 30px 10px 0;
            border-left: none;
            border-top: none;
            border-right: none;
        }
    }
    .woocommerce-cart {
        section {
            .top-head {
                padding-bottom: 15px !important;
            }
        }
    }
    .woocommerce-cart, 
    .woocommerce-checkout {
        section {
            .col-8{
                padding-bottom: 20px;
            }
        }
    }

    .product-items {
        max-height: calc(100vh - 590px);
        .product-item {
            .description {
                width: calc(100% - 95px);
                .size,
                .color{
                    display: inline-flex;
                    margin-right: 20px;
                }
                .number {
                    margin-right: 15px;
                }
            }
            img {
                width: 80px;
                height: 80px;
            }
        }
    }
}

@media (orientation: portrait) and (max-width: 579px){
    .home-slider {
        &:before{
            bottom: 34.591vh;
            height: 294px;
            width: 346px;
        }
        .slick-arrow{
            transform: translateY(-60px);
        }
        .item{
            .description {
                transform: translateX(35px);
                margin-bottom: 75px;
                width: calc(100% - 70px);
                h2.title {
                    font-size: 42px;
                }
            }
            img{
                max-width: 100%;
                height: 100vh;
                transform: translateX(23.316vw);
            }
        }
    }
    .category-link {
        display: none;
    }
    .event {
        padding: 130px 35px 0;
        .description {
            padding-bottom: 60px;
            .link{
                &:before{
                    width: 47px;
                    height: 47px;
                    font-size: 10px;
                }
            }
        }
    }
    .products {
        .products-slider{
            .item{
                position: relative;
                transition: all 0.3s ease;
                &:not(.slick-current){
                     &:before{
                        content: '';
                        position: absolute;
                         bottom: 0;
                         left: 0;
                         right: 0;
                         top: 0;
                         background: rgba(255,255,255,0.8);
                         z-index: 1;
                    }
                }
            }
        }
        .col-auto{
            & + .col:not(.col-auto) {
                .products-slider {
                    margin-top: 0;
                }
            }
        }
    }
    .products-slider { 
        margin-left: 35px;
        &:after{
            display: none;
        }
        .slick-list{
            padding: 0 0 35px 0 !important;
        }
        .item{
            width: calc(100vw - 155px) !important;
            margin: 0 0 0 35px;
            img {
                height: calc(100vh - 440px);
            }
        }
    }
    .single-product {
        .product-slider {
            .item {
                img{
                    width: 100%;
                }
            }
        }
        .product-description {
            height: calc(100vh - 420px);
            .woocommerce-product-details__short-description {
                max-height: calc(100% - 178px);
                overflow: auto;
            }
            p{
                font-size: 14px;
                line-height: 1.44;
            }
            
            .choice{
                align-items: flex-start;
            }
            .radio-items{
                width: calc((100% - 15px) / 2);
                flex-wrap: wrap;
                margin-right: 15px;
                margin-top: 0;
                & > label{
                    display: block;
                    width: 100%;
                    margin-bottom: 10px;
                }
            }
            .select{
                margin-right: 0;
                margin-bottom: 0;
            }
            .input{
                margin-right: 15px;
            }
            .button{
                margin-top: 28px;
                height: 40px;
                width: calc((100% - 15px) / 2);
                font-size: 14px;
                &:before{
                    margin-left: 5px;
                }
            }
        }
        
        .col-4 {
            h1.title {
                margin-bottom: 10px;
            }
            .price {
                margin-bottom: 10px;
                font-size: 20px;
            }
        }
    }
    header {
        .cart {
            .cart-items {
                .cart-item {
                    padding-right: 25px;
                    .description {
                        width: calc(100% - 105px);
                    }
                    .product-meta {
                        .price{
                            width: 100%;
                            margin-bottom: 10px;
                        }
                    }
                    img {
                        width: 90px;
                        height: 90px;
                    }
                    .product-meta {
                        .color{
                            margin-right: 25px;
                        }
                    }
                }
            }
        }
    }
     header {
        .cart{
            padding: 65px 15px 35px !important;
            .buttons {
                .button{
                    width: 130px;
                    height: 40px;
                    font-size: 14px;
                }
            }
        }
    }
    .woocommerce-cart,
    .woocommerce-checkout{
        section {
            .col-8{
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }
    .woocommerce-cart {
        .top-head {
            a.icon-left{
                font-size: 12px;
            }
        }
    }
    .delivery {
        p{
            &:not(.price){
                font-size: 12px;
            }
        }
    }
}
@media (orientation: portrait) and (max-width: 579px)  and (max-height: 700px){
    .left-block {
        height: 120px;
        img{
            height: 240px;
        }
    }
    .products-slider {
        .item {
            img {
                height: calc(100vh - 410px);
            }
        }
    }
    .products {
        h1.title {
            font-size: 18px;
        }
        .col {
            & + .col {
                padding-top: 65px;
                 .products-slider {
                    .item {
                        img {
                            height: calc(100vh - 505px);
                        }
                    }
                }
            }
        }
    }
    .delivery {
        .radio {
            label{
                &:before{
                    width: 14px;
                    height: 14px;
                }
            }
        }
        h2.title {
           font-size: 18px;
        }
        h2.title,
        p:not(.price) {
            margin-bottom: 5px;
        }
        p.price {
             font-size: 18px;
        }
        .button {
            height: 36px;
        }
    }
    .product-items {
        max-height: calc(100vh - 510px);
    }
    .woocommerce-cart {
        section {
            .top-head {
                padding-top: 60px;
                h1.title {
                    font-size: 20px;
                }
            }
        }
        .coupon,
        .discounts{
            input[type="text"]{
                height: 36px;
                max-width: calc(100% - 36px);
            }
            .button{
                width: 36px;
                height: 36px;
                padding: 0 !important;
                &:before{
                    font-size: 18px;
                }
            }
        }
    }
}
@media (orientation: portrait) and (max-width: 579px)  and (max-height: 640px){
    .event {
        padding: 90px 35px 0;
    }
    .home-slider {
        .slick-arrow{
             transform: translateY(0px) !important;
        }
        .item {
            .description{
                margin-bottom: 50px;
            }
        }
    }
    .single-product {
        
         .align-items-center {
             padding-top: 60px !important;
        }
        .col-4{
            a.icon-left{
                font-size: 14px;
            }
            h1.title {
                font-size: 20px;
            }
            p.meta{
                font-size: 10px;
            }
        }
        .product-description {
            height: calc(100vh - 350px);
            .input{
                margin-bottom: 10px;
            }
            .button {
                margin-top: 24px;
            }
        }
    }
    .product-description {
        .input, 
        .radio-items, 
        .select {
            & > label {
                font-size: 12px;
            }
        }
    }
}
@media (orientation: portrait) and (max-width: 490px){
    .home-slider{
        &:before {
            bottom: 56.122vw;
            height: 50vw;
            width: 70.612vw;
        }
    }
    
}
@media (orientation: portrait) and (max-width: 410px){
    .products {
        .top-head {
            margin-top: 70px;
            padding-left: 15px;
            padding-right: 15px;
        }
        .col {
            & + .col {
                .top-head{
                    padding-left: 15px !important;
                    padding-right: 15px !important;
                }
            }
        }
    }
    .products-slider {
        margin-left: 15px;
        .item{
            width: calc(100vw - 105px) !important;
        }
    }
    .single-product{
        .product-slider {
            .item {
                img {
                    max-height: 125px;
                }
            }
        }
        .product-slider-thumbnail {
            width: 140px;
            .item{
                margin: 0 0 10px;
                height: 60px;
                border-radius: 18px;
            }
        }
        .col-4{
            &[id*="product"]{
                padding-left: 25px;
                padding-right: 25px;
            }
        }
        .product-description{
            height: calc(100vh - 330px);
            .slick-arrow{
                display: none !important;
            }
        }
    }
    .product-items {
        .product-item {
            .description {
                .color{
                    margin-right: 0;
                }
                .size{
                    margin-right: 15px;
                }
                .color,
                .size{
                    display: inline-flex;
                }
            }
        }
    }
}
@media (orientation: portrait)  and (max-height: 589px){
    .home-slider{
        &:before{
            height: 46vw;
        }
    }
    
}
@media (orientation: portrait)  and (max-width: 359px){
    .single-product {
        .product-description {
            .button{
                font-size: 12px;
            }
        }
    }
}