
<section>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-8">
        <h1> <i class="icon-four"></i><i class="icon-x"></i><i class="icon-four"></i></h1>
      </div>
      <div class="col-4">
        <div class="description">
          <h2 class="title">Przepraszamy ta strona nie istnieje</h2>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et </p><a class="icon-left">Powrót do strony głównej sklepu</a>
        </div>
      </div>
    </div>
  </div>
</section>