
<section>
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-8">
        <div class="top-head">
          <h1 class="title">Twój koszyk <span>(2)</span></h1><a class="icon-left" href="#">Powrót do sklepu</a>
        </div>
        <div class="product-items">
          <div class="product-item"> <img src="img/bluza.png" alt=""/>
            <div class="description">
              <h3 class="title">Bluza z kapturem</h3>
              <p class="size">Rozmiar – <span>L</span></p>
              <p class="color">Kolor<span style="color:#000000;"></span></p>
              <div class="quantity">
                <input class="input-number" type="number" value="0" min="0" max="999"/>
              </div>
              <p class="price"><span>200 zł</span>140 zł</p>
            </div><i class="icon-close remove">usuń </i>
          </div>
          <div class="product-item"> <img src="img/czapka.png" alt=""/>
            <div class="description">
              <h3 class="title">Bluza z kapturem</h3>
              <p class="size">Rozmiar – <span>L</span></p>
              <p class="color">Kolor<span style="color:#000000;"></span></p>
              <div class="quantity">
                <input class="input-number" type="number" value="0" min="0" max="999"/>
              </div>
              <p class="price"><span>200 zł</span>140 zł</p>
            </div><i class="icon-close remove">usuń </i>
          </div>
        </div>
        <div class="discounts">
          <input type="text" placeholder="Kod rabatowy"/>
          <input class="button" type="submit" value="Aktualizuj koszyk"/>
        </div>
      </div>
      <div class="col-4" style="background-color:#942443;">
        <form class="delivery">
          <h2 class="title">Dostawa</h2>
          <div class="radio">
            <input id="delivery" type="radio" name="delivery" checked="checked"/>
            <label for="delivery">Opłata za dostawę<span>15 zł</span></label>
          </div>
          <div class="radio">
            <input id="delivery-free" type="radio" name="delivery"/>
            <label for="delivery-free">Darmowa dostawa</label>
          </div>
          <p>Opcje wysyłki zostaną zaktualizowane podczas realizacji transakcji. </p>
          <p class="price">Suma<span>275 zł</span></p>
          <input class="button" type="submit" value="Przejdź do kasy"/>
        </form>
      </div>
    </div>
  </div>
</section>