
<section>
  <div class="container-fluid">
    <div class="row align-items-center"> 
      <div class="col"> 
        <div class="empty-cart"><i class="icon-empty-cart"></i>
          <h2 class="title">Twój koszyk aktualnie jest pusty.</h2><a class="button" href="#">Wróć do Sklepu</a>
        </div>
      </div>
    </div>
  </div>
</section>