
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col"><a class="logo" href="/"><img src="img/logo.svg" alt="logo"/></a></div>
      <div class="col-auto"><i class="icon-search"></i>
        <div class="search"><i class="icon-close"></i>
          <h2 class="title">Jakiego peoduktu szukasz?</h2>
          <form>
            <div class="input">
              <input type="search"/>
              <button class="icon-search" type="submit"></button>
            </div>
          </form>
          <div class="search-result">
            <h5 class="title">Najczęściej wyszukoiwane kategorie</h5>
            <ul>
              <li><a href="#">Kalendarz ścienny</a></li>
              <li><a href="#">Kartki okolicznościowe</a></li>
              <li><a href="#">Gadżety</a></li>
              <li><a href="#">Kubki</a></li>
              <li><a href="#">Torby</a></li>
              <li><a href="#">Gry planszowe</a></li>
              <li><a href="#">Odzież</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-auto"><i class="icon-cart"><span>2</span></i>
        <div class="cart"><i class="icon-close"></i>
          <h2 class="title">Twój koszyk zawiera<span>2</span>produkty</h2>
          <div class="cart-items">
            <div class="cart-item"><img src="img/img.png" alt="#"/>
              <div class="description">
                <h5 class="title">Bluza z kapturem</h5>
                <ul class="product-meta">
                  <li class="price">140 zł</li>
                  <li class="color">Kolor<span style="color:#000;"></span></li>
                  <li class="quantity">Ilość<span>1</span></li>
                </ul><a class="icon-close remove"></a>
              </div>
            </div>
            <div class="cart-item"><img src="img/img.png" alt="#"/>
              <div class="description">
                <h5 class="title">Bluza z kapturem</h5>
                <ul class="product-meta">
                  <li class="price">140 zł</li>
                  <li class="color">Kolor<span style="color:#f00;"></span></li>
                  <li class="quantity">Ilość<span>1</span></li>
                </ul><a class="icon-close remove"></a>
              </div>
            </div>
          </div>
          <h4 class="title">Darmowa dostawa</h4>
          <h5 class="title">Do darmowej dostawy brakuje Ci jeszcze 100 zł</h5>
          <h4 class="price">Razem do zapłaty:<span>280 zł</span></h4>
          <ul class="buttons">
            <li><a class="button" href="#">Idź do koszyka</a></li>
            <li><a class="button" href="#">Idź do kasy</a></li>
          </ul>
        </div>
      </div>
      <div class="col-auto">
        <div class="language" data-before="En" data-after="Pl">
          <input id="language" type="checkbox"/>
          <label for="language"></label>
        </div>
      </div>
      <div class="col-auto">
        <div class="burger-menu"><span></span><span></span><span></span><span></span><span></span></div>
        <div class="menu-block"><i class="icon-close"></i>
          <ul class="menu">
            <li><a href="#">Home</a></li>
            <li class="current-menu-item"><a href="#">Sklep</a></li>
            <li><a href="#">Twórcy</a></li>
            <li><a href="#">Kontakt</a></li>
          </ul>
          <ul class="soc">
            <li class="icon-facebook"><a href="#"></a></li>
            <li class="icon-instagram"><a href="#"></a></li>
          </ul>
          <ul class="sub-menu">
            <li><a href="#">Polityka prywatności</a></li>
            <li><a href="#">Polityka prywatności</a></li>
            <li><a href="#">Polityka prywatności</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>