
<section>
  <div class="container-fluid">
    <div class="row"> 
      <div class="bio">
        <div class="item">
          <div class="img" style="color:#A1B8DF;" data-title="Cypriano Italiano"><img src="img/photo-3.png" alt=""/></div>
          <div class="description">
            <div class="arrows"> <a class="icon-left" href="#"></a><a class="icon-right" href="#"></a></div>
            <h1 class="title">Cyprian Węgrzyn działający pod pseudonimem jako Cypriano Italiano to wielki pasjonat sportu i aktywnego trybu życia.</h1>
            <div class="excerpt">
              <p>Jeszcze do niedawna trenował profesjonalnie kalistenikę, czyli dziedzinę sportu polegającą na treningu siłowym opierającym się na ćwiczeniach z własną masą ciała. Cyprian jest pół Włochem i jak najbardziej wpisuje się w stereotypowy obraz Włocha. Jest niezwykle temperamentny, uwielbia prowadzić żywe dyskusje i jeść pizze oglądając serial lub mecz. Nocą można spotkać Cypriana jeżdżącego hulajnogą elektryczną po warszawskim Powiślu.</p>
              <p>Jego tiktokowy profil śledzi ponad 700 tysięcy obserwujących.</p>
            </div><a class="button icon-chevron" href="#">Zobacz kolekcję </a>
          </div>
        </div><!-- .item
        <div class="img" style="color:#942443;" data-title="JULIA SZPONER"><img src="img/photo-4.png" alt=""/></div>
        <div class="description">
          <h1 class="title">Cyprian Węgrzyn działający pod pseudonimem jako Cypriano Italiano to wielki pasjonat sportu i aktywnego trybu życia.</h1>
          <div class="excerpt">
            <p>Jeszcze do niedawna trenował profesjonalnie kalistenikę, czyli dziedzinę sportu polegającą na treningu siłowym opierającym się na ćwiczeniach z własną masą ciała. Cyprian jest pół Włochem i jak najbardziej wpisuje się w stereotypowy obraz Włocha. Jest niezwykle temperamentny, uwielbia prowadzić żywe dyskusje i jeść pizze oglądając serial lub mecz. Nocą można spotkać Cypriana jeżdżącego hulajnogą elektryczną po warszawskim Powiślu.</p>
            <p>Jego tiktokowy profil śledzi ponad 700 tysięcy obserwujących.</p><a class="button icon-chevron" href="#">Zobacz kolekcję --></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>